<ion-content class="about-me-container">
  <ng-container *ngIf="isLoaded;else spinner">
    <div class="about-me">
      <div *ngIf="isContentAvailable" class="about-container">
        <span (click)="onClickUpdate()">{{'ABOUT_NO_DATA' | translate}}</span>
      </div>
      <div *ngIf="isEdit" class="edit-container">
        <span class="about">{{about}}</span>
        <span class="material-icons" (click)="onClickUpdate()">edit</span>
      </div>
      <div *ngIf="isUpdate" class="update-container">
        <div class="header">
          <span class="title">{{'ABOUT_ME' | translate}}</span>
          <ion-button expand="block" fill="outline" class="save-button" (click)="onSubmit()">{{ 'SAVE' | translate }}</ion-button>
        </div>
        <div class="input-container">
          <textarea rows="12" [(ngModel)]="about" [maxlength]="maxChars"></textarea>
          <label class="char-remaining"> {{about | charLength}}/{{maxChars}} {{'CHARACTERS' | translate}}.</label>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #spinner>
    <ion-row class="spinner-container">
      <ion-spinner></ion-spinner>
    </ion-row>
  </ng-template>
</ion-content>
