<ion-row class="fill-in-the-blanks-question content-{{componentSequence}}" [ngClass]="{'disabled': isDisabled, 'question-answered': isQuestionAnswered, 'bidirectional-restrict': !isBidirectionalPlay, 'already-played': alreadyPlayed}"
  (click)="onClickQuestionWithFeedBack()">
  <ion-row class="hz-line"></ion-row>
  <ng-container *ngIf="isDownloadPdf">
    <hr/>
  </ng-container>
  <!-- start header section -->
  <ion-row class="resource-content-container" [ngClass]="{'active-content': isActive,'blur-question': !reportViewMode}">
    <ion-row *ngIf="!isDownloadPdf" class="header-section">
      <ion-row class="type">{{componentSequence}}. {{'FILL_IN_THE_BLANKS'| translate}}</ion-row>
      <ion-row class="toggle-icon" (click)="toggleAnswers()">
        <ng-template #downArrow>
          <ion-text class="material-icons arrow-dropdown"> arrow_drop_down </ion-text>
        </ng-template>
        <ion-text *ngIf="!showAnswer; else downArrow" class="material-icons arrow-dropup"> arrow_drop_up </ion-text>
      </ion-row>
    </ion-row>
    <!-- end header section -->
    <!-- start question section -->
    <ion-row class="question-container">
      <ion-row class="title-container" (click)="toggleAnswers()">
        <ng-container *ngIf="isDownloadPdf">
          {{ componentSequence }}.
          </ng-container>
        <mathjax class="title" *ngIf="content.title" [content]="content.title"></mathjax>
        <ion-row>
          <nav-taxonomy-list *ngIf="content.taxonomy" [taxonomy]="content.taxonomy"></nav-taxonomy-list>
        </ion-row>
      </ion-row>
      <ng-container *ngIf="!isPreview">
        <ion-row class="info-icon" (click)="toggleInfo()" *ngIf="!reportViewMode; else performanceContent">
          <i class="material-icons info" *ngIf="(content.taxonomy | keyvalue)?.length">info_outlined</i>
        </ion-row>
        <ng-template #performanceContent>
          <ion-row class="performance-content grade-range-{{averageScore | gradeRange}}">
            <ion-text *ngIf="performance && !performance.isSkipped; else noPerformance">
              <ion-text>{{performance.score}}</ion-text>
              <ion-text *ngIf="content.maxScore">/{{content.maxScore}}</ion-text>
            </ion-text>
            <ng-template #noPerformance>
              <ion-text>&ndash;&ndash;&ndash;</ion-text>
            </ng-template>
          </ion-row>
        </ng-template>
      </ng-container>
    </ion-row>
    <!-- end question section -->
    <ion-row class="info" [ngClass]="{'active' : !showAdditionalInfo}" [@collapse]="showAdditionalInfo">
      <nav-taxonomy-list *ngIf="content.taxonomy" [taxonomy]="content.taxonomy"></nav-taxonomy-list>
    </ion-row>
    <!-- start performance report section -->
    <ng-container *ngIf="!isPreview">
      <ion-row class="timespent-container" *ngIf="reportViewMode && performance">
        <i class="material-icons clock-icon">access_time</i>
        <ion-text class="timespent-text">{{performance.timespent | transformTimeSpent}}</ion-text>
      </ion-row>
    </ng-container>
  </ion-row>
  <!-- end performance report section -->
  <!-- start answer section -->
  <ion-row class="answer-container" [@collapse]="showAnswer">
    <ion-row class="answer-content" [ngClass]="{'active-content': isActive,'blur-question': !reportViewMode}">
      <ion-row class="answer" [ngClass]="{'show-answer': reportViewMode}" (click)="onClickAnswer()">
        <ion-row *ngIf="content.thumbnail" class="thumbnail">
          <img [src]="content.thumbnail" imageLoader inAppBrowser [collectionId]="collectionId" [resourceId]="content.id" [url]="content.thumbnail" />
        </ion-row>
        <ng-container *ngIf="!isMathjaxEquation;else mathjaxEquation">
          <ion-row id="math" *ngIf="question" #questionElementRef [innerHTML]="question"></ion-row>
        </ng-container>
        <ng-template #mathjaxEquation>
          <mathjax (mathjaxRendered)="mathjaxRendered()" *ngIf="question" #questionElementRef [content]="question"></mathjax>
        </ng-template>
        <ng-container *ngFor="let answerInput of answerInputs">
          <ion-input autocomplete="off" autocorrect="off" name="answer-text" (ionChange)="notifyInputAnswers()" [ngStyle]="{'top': answerInput.top + 'px','left':answerInput.left + 'px'}" class="answer-input" [(ngModel)]="answerInput.answer_text"
            [ngClass]="reportViewMode && (!isPreview || (isPreview && showCorrectAnswer)) && answerInput.status" type="{{answerInput.type}}"></ion-input>
        </ng-container>
      </ion-row>
      <ion-row class="confirm" [@fadeAnimation]="hideConfirmButton" *ngIf="!hideConfirmButton">
        <ion-button type="submit" [disabled]="!enableConfirm || disableConfirmBtn" (click)="onConfirm()" *ngIf="!reportViewMode">{{'CONFIRM'| translate}}</ion-button>
      </ion-row>
    </ion-row>
    <!-- start evidence section -->
    <ion-row *ngIf="isShowEvidence && !isPreview" class="evidence-container">
      <nav-evidence-file-upload [evidenceFiles]="evidenceFiles"></nav-evidence-file-upload>
    </ion-row>
    <!-- end  evidence section -->
  </ion-row>
  <!-- end answer section -->
  <ion-row class="player-overlay" *ngIf="!isActive && !reportViewMode" (click)="onClickQuestion()"></ion-row>
</ion-row>
