<ion-card *ngIf="class;else showLoader" [ngClass]="{'disabled': !class.isOfflineAccessEnabled && !isOnline}"
  class="non-premium-class">
  <ion-card-header class="no-padding">
    <ion-row class="card-header">
      <ion-col size="10" class="class-title" [ngClass]="{'archived-class': class.isArchived}" (click)="onClickCard()">
        <ion-label class="class-name ellipsis">{{class.title}}</ion-label>
      </ion-col>
      <ion-col size="2" [ngClass]="{'disabled': !isOnline}" class="setting-icon"
        [routerLink]="['/class/', class.id, 'settings']">
        <i class="material-icons">settings</i>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="no-padding">
    <ion-grid class="no-padding content-body">
      <ion-row class="card-img"
        [ngStyle]="{'background-image': class.course ? 'url(' + class.course.thumbnailUrl + ')' : ''}"
        [ngClass]="class.course ? 'has-course' : 'has-no-course'" (click)="onClickCard()">
        <ion-grid class="information" [ngClass]="course ? 'has-course' : 'has-no-course'">
          <ion-row class="current-activity">
            <ion-text *ngIf="course; else noCourseAssigned">{{'ASSIGNED_COURSE'| translate}}</ion-text>
            <ng-template #noCourseAssigned>
              <ion-text>{{'NO_COURSE_ASSIGNED' | translate}}</ion-text>
              <ion-text>{{'GO_AHEAD_ADD_SOMETHING'| translate}}</ion-text>
            </ng-template>
          </ion-row>
          <ion-row *ngIf="course" class="course-title" [ngClass]="{'archived-class': class.isArchived}">
            <ion-text class="ellipsis">{{course.title}}</ion-text>
          </ion-row>
        </ion-grid>
      </ion-row>
      <ion-row class="class-actions">
        <ion-col *ngIf="!isPublicClassShow || !class.isPublic"
          class="class-action-with-performance grade-range-{{getCAPerformance(class.performanceSummaryForDCA) | gradeRange}}"
          [routerLink]="['/class/', class.id, 'class-activities', 'scheduled-activities']">
          <ion-row class="non-premium-class-action">
            <ion-col class="class-action">
              <ion-icon class="nav-dca"></ion-icon>
            </ion-col>
            <ion-col class="class-action">
              <ion-text *ngIf="class.performanceSummaryForDCA; else noPerformance">{{
                class.performanceSummaryForDCA.scoreInPercentage | transformPerformanceScore }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col (click)="onClickJourney()"
          class="class-action-with-performance grade-range-{{getCMPerformance(class.performanceSummary) | gradeRange}}">
          <ion-row class="non-premium-class-action">
            <ion-col class="class-action">
              <i class="material-icons course-map">sort</i>
            </ion-col>
            <ion-col class="class-action">
              <ion-text *ngIf="class.performanceSummary && class.performanceSummary.score !== null; else noPerformance">
                {{ class.performanceSummary.score | transformScore }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="proficiency-container class-action"
          [routerLink]="['/class/', class.id, 'proficiency', 'class-proficiency']">
          <ion-icon class="nav-proficiency"></ion-icon>
        </ion-col>
        <ion-col [ngClass]="{'disabled': !isOnline}" class="performance-overview-container class-action"
          [routerLink]="['/class/', class.id, 'atc']">
          <ion-icon class="overview-icon"></ion-icon>
        </ion-col>
        <ng-template #noPerformance>
          <ion-text>&ndash;&ndash;&ndash;</ion-text>
        </ng-template>
      </ion-row>
      <ion-row class="class-code-container">
        <ion-col class="class-code-wrapper no-padding">
          <span class="class-code-label">
            {{'CLASSCODE' | translate}}
          </span>
          <span class="class-code">
            {{class.code}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ng-template #showLoader>
  <ion-card class="non-premium-class">
    <ion-card-header class="custom-skeleton no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-skeleton-text class="class-name" animated></ion-skeleton-text>
          </ion-col>
          <ion-col size="2">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content class="no-padding">
      <hr class="header-line">
      <ion-grid class="no-padding">
        <ion-row>
          <ion-skeleton-text class="card-img"></ion-skeleton-text>
        </ion-row>
        <ion-row class="class-actions">
          <ion-col class="class-action">
            <ion-skeleton-text class="course-map" animated></ion-skeleton-text>
          </ion-col>
          <ion-col class="class-action">
            <ion-skeleton-text class="course-map" animated></ion-skeleton-text>
          </ion-col>
          <ion-col class="class-action">
            <ion-skeleton-text class="course-map" animated></ion-skeleton-text>
          </ion-col>
          <ion-col class="class-action">
            <ion-skeleton-text class="course-map" animated></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="no-padding">
            <div>
              <ion-skeleton-text animated></ion-skeleton-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-template>