.progress-filling {
    width: 0;
    position: absolute;
    left: 0;
    height: 8px;
    border-radius: 5px;
    background-color: var(--progres-bar-bg);
    transition: width 0.2s;

    .progress-pointer {
        width: 16px;
        height: 16px;
        background-color: var(--audio-payer-progress-pointer);
        right: -14px;
        top: -4px;
        display: block;
        border-radius: 50%;
        position: absolute;
    }
}