.youtube-player-container {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  position: relative;

  .loading-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: var(--youtube-video-load-text);
    width: 100%;
    height: 100%;
    margin: auto;

    ion-spinner {
      color: var(--youtube-video-load-text);
      margin-top: 5px;
    }
  }

  .full-screen {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
  }
}
