.say-out-loud-answer {
  width: 100%;
  align-items: center;
  display: grid;
  text-align: center;
  grid-template-columns: 40% 60%;

  .mic-container {
    display: grid;
    grid-template-columns: 35px 120px 35px;
    justify-content: center;
    margin: 25px 0;
    height: 100%;

    &.report-mode {
      grid-template-columns: 100px 85px;
    }
  }

  .progress-container {
    justify-content: center;
    position: relative;

    .audio-progress {
      width: 96px;
      height: 8px;
      background-color: var(--say-out-audio-text);
      display: block;
      position: relative;
      border-radius: 5px;
      margin: auto;
    }
  }

  ion-button {
    width: 100px;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, .3);
    }

    65% {
      box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, .3);
    }

    90% {
      box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
    }
  }

  .mic-icon {
    border-radius: 50%;
    background-color: var(--say-out-loud-mic);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px;

    &.active {
      animation-name: pulse;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .play-icon,
  .stop-icon {
    border: solid 2px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    background-color: var(--say-out-loud-play-icon);
  }

  .play-icon {
    &.in-active {
      pointer-events: none;
    }
  }

  .mic-icon,
  .play-icon,
  .stop-icon {
    margin: auto;
    color: var(--say-out-loud-answer-text);
    height: 30px;
    width: 30px;

    &.in-active {
      background-color: var(--say-out-loud-active-answer);
      border: none;
      color: var(--say-out-play-icons);
    }
  }

  .voice-text,
  .answer-text,
  .decoding-text {
    color: var(--say-out-loud-answer-text);
    font-size: 22px;
    width: 100%;
    justify-content: center;
    min-height: 40px;
  }

  .decoding-text {
    font-weight: 600;
    font-size: 24px;

    p {
      margin: auto;
      overflow: hidden;
    }
  }

  #voice-animation {
    height: 60px;
    position: absolute;
    width: 110px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .bar {
    background: var(--say-out-animation-bar);
    height: 5px;
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .voice-activated {
    animation: sound 0ms -800ms linear infinite alternate;
  }

  @keyframes sound {
    0% {
      opacity: .3;
      height: 5px;
    }

    20% {
      opacity: .6;
      height: 15px;
    }

    50% {
      opacity: .8;
      height: 25px;
    }

    100% {
      opacity: 1;
      height: 50px;
    }
  }

  .bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
  }

  .bar:nth-child(2) {
    left: 12px;
    animation-duration: 433ms;
  }

  .bar:nth-child(3) {
    left: 23px;
    animation-duration: 407ms;
  }

  .bar:nth-child(4) {
    left: 34px;
    animation-duration: 458ms;
  }

  .bar:nth-child(5) {
    left: 45px;
    animation-duration: 400ms;
  }

  .bar:nth-child(6) {
    left: 56px;
    animation-duration: 427ms;
  }

  .bar:nth-child(7) {
    left: 67px;
    animation-duration: 441ms;
  }

  .bar:nth-child(8) {
    left: 78px;
    animation-duration: 419ms;
  }

  .bar:nth-child(9) {
    left: 88px;
    animation-duration: 487ms;
  }

  .bar:nth-child(10) {
    left: 98px;
    animation-duration: 442ms;
  }
}

.decoding-answers {
  width: 100%;
}

.say-out-loud-question {
  padding: 10px 8px 16px;
  position: relative;

  %blur-content {
    -webkit-filter: blur(1.2px);
    filter: blur(1.2px);
    transition: filter 2s;
  }

  &.disabled {
    opacity: 0.5;
  }

  .answer-container {
    width: 100%;

    .answer-content {
      width: 100%;
    }

    .reaction-row {
      width: 100%;
    }
  }

  .header-section {
    display: flex;
    color: var(--player-content-title-color);

    .type {
      flex: 1;
      opacity: 0.7;
      font-size: 11px;
      line-height: 1.45;
    }

    .toggle-icon {
      ion-icon {
        width: 22px;
        height: 20px;
      }
    }
  }

  .thumbnail {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      object-fit: contain;
      width: 100%;
      height: 150px;
    }
  }

  .answer-container {
    .in-active::ng-deep {
      .feedback-card {
        @extend %blur-content;
        filter: blur(1.2px);
        -webkit-filter: blur(1.2px);
      }
    }

    feedback::ng-deep {
      .feedback-card {
        transition: filter 2s;
      }
    }

    .active-feedback::ng-deep {
      .feedback-card {
        filter: none;
        -webkit-filter: none;
      }
    }

    .confirm {
      padding: 15px 0;
      display: flex;
      width: 100%;

      ion-button {
        margin: auto;
        width: 100%;
        height: 40px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        color: var(--player-confirm-txt-color);
        --box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        --background: linear-gradient(to right, var(--question-submit-btn-color) 21%, var(--dark-blue) 75%);
        --border-radius: 0;
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    .uploading-row {
      margin: auto;
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      color: var(--player-confirm-txt-color);
      background: linear-gradient(to right, var(--question-submit-btn-color) 21%, var(--dark-blue) 75%);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

      ion-spinner {
        color: var(--say-out-uploading-row);
        width: 40px;
        height: 40px;
      }
    }
  }

  .title-container {
    display: flex;
    color: var(--player-content-title-color);

    .title {
      font-size: 16px;
      line-height: 1.33;
      flex: 1;

      ::ng-deep {
        .animation-circle {
          font-family: var(--sans);
          font-size: 16px;
          font-style: italic;
        }
      }
    }

    .info-icon {
      i {
        width: 22px;
        height: 20px;
        font-size: 20px;
        margin: 0;
      }
    }
  }

  .info {
    height: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;

    &.active {
      nav-taxonomy-list {
        padding-bottom: 10px;
      }
    }

    nav-taxonomy-list {
      display: flex;
      align-items: center;

      ::ng-deep {
        .taxonomy-list {
          .item {
            margin: 0;
          }
        }
      }
    }
  }

  .description {
    color: var(--player-question-answered-font);
    width: 100%;
  }

  .answer {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .timespent-container {
    height: 40px;
    color: var(--serp-answer-text);
    display: grid;
    grid-template-columns: 10% auto 10% 15%;
    align-items: center;

    .clock-icon {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-column-start: 1;
      width: 35px;
    }

    .timespent-text {
      grid-column-start: 2;
      display: flex;
      align-items: center;
      font-size: 15px;
    }

    .reaction-icon {
      display: flex;
      grid-column-start: 3;
      justify-content: center;
    }

    .show-answer-col {
      display: flex;
      align-items: center;
      grid-column-start: 4;
      justify-content: center;

      .incorrect {
        background-image: var(--wrong);
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
      }

      .correct {
        background-image: var(--correct-answer-icon);
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
      }

      .partial-correct {
        background-image: var(--partial-correct-icon);
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
      }
    }
  }

  &.question-answered {
    background: var(--player-question-answered-bg);
    transition: 1s;

    .header-section {
      color: var(--player-question-answered-font);
    }

    .title-container {
      color: var(--player-question-answered-font);
    }

    .info-icon {
      color: var(--player-question-answered-font);
    }

    %disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    .decoding-text {
      color: var(--player-question-answered-font);
    }

    &.bidirectional-restrict {
      .answer-container {

        .say-out-loud-answer,
        .reaction-row {
          @extend %disabled;
        }
      }

      &.already-played {
        .answer-container {
          @extend %disabled;

          ::ng-deep feedback {
            ion-button {
              pointer-events: none;
            }
          }

          .confirm {
            display: none;
          }
        }
      }
    }

    .description {
      color: var(--player-question-answered-font);
    }
  }

  .blur-question {
    @extend %blur-content;
  }

  .active-content {
    filter: none;
    -webkit-filter: none;
  }
}
