<ion-row class="encoding-question content-{{componentSequence}}"
  [ngClass]="{'bidirectional-restrict': !isBidirectionalPlay, 'already-played': alreadyPlayed}"
  (click)="onClickQuestionWithFeedBack()">
  <ion-row class="hz-line"></ion-row>
  <ng-container *ngIf="isDownloadPdf">
    <hr />
  </ng-container>
  <!-- start header section -->
  <ion-row class="resource-content-container" [ngClass]="{'active-content': isActive,'blur-question': !reportViewMode}">
    <ng-container *ngIf="!isDownloadPdf">
      <ion-row class="header-section">
        <ion-row class="type">{{componentSequence}}. {{questionTitle | translate}}</ion-row>
        <ion-row class="toggle-icon">
          <ng-template #downArrow>
            <ion-icon name="md-arrow-dropdown"></ion-icon>
          </ng-template>
        </ion-row>
      </ion-row>
    </ng-container>
    <!-- end header section -->
    <!-- start question section -->
    <ion-row class="title-container">
      <ng-container *ngIf="isDownloadPdf">
        {{ componentSequence }}.
      </ng-container>
      <mathjax class="title" *ngIf="content.title" [content]="content.title"></mathjax>
    </ion-row>
    <!-- end question section -->
    <!-- start answer section -->
    <ion-row [ngStyle]="isDownloadPdf && pdfPreviewStyles.pdfPaddingStyles" class="answer-container">
      <ion-row class="upcoming-question-title">
        <!-- <ion-text>{{'QUESTION_TYPE_NOT_SUPPORTED' | translate}}</ion-text> -->
        <ion-text>This question type is not supported in current version</ion-text>
      </ion-row>
      <ion-row class="confirm" *ngIf="!reportViewMode">
        <ion-button (click)="onConfirm()">
          {{ 'NEXT' | translate }}</ion-button>
      </ion-row>
    </ion-row>
    <!-- end answer section -->
    <ion-row class="player-overlay" *ngIf="!isActive && !reportViewMode" (click)="onClickQuestion()">
    </ion-row>
  </ion-row>