.profile-page-header {
  &::after {
    background-image: none;
  }

  ion-toolbar {
    --min-height: var(--toolbar-height);

    ion-title {
      padding: 0;
      font-family: var(--sans);
      font-size: 15px;
      font-weight: bold;
      color: var(--learner-identity-header-color);
    }
  }
}

.profile-page-container {
  .date {
    &.has-value {
      width: 100%;
      padding: 0;
    }
  }

  .date-time-label {
    justify-content: left;
    font-size: 13px;
    text-align: center;
    color: var(--user-info-bg);
    font-weight: 400;
  }

  .year {
    padding: 0;
  }

  .date-row {
    justify-content: left;

    ion-item {
      ion-label {
        text-transform: capitalize;
        width: 100px;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: var(--input-label);
        margin-bottom: 0;
        margin-top: 0;
      }

      .date {
        &:after {
          content: '';
          background-image: var(--arrow-down-icon);
          display: block;
          width: 24px;
          height: 24px;
          float: right;
          object-fit: contain;
        }
      }
    }
  }

  .input-wrapper.date {
    margin: 0;

    ion-item {
      height: 40px;
    }

    .input-label {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
    }

    .disabled {
      visibility: hidden;
    }

    .input-field {
      width: 250px;
      border-bottom: 2px solid var(--hr-line-grey);
      color: var(--input-field);
      text-align: center;
    }

    ion-label {
      width: 100px;
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }

    .date {
      &:after {
        content: '';
        background-image: var(--arrow-down-icon);
        display: block;
        width: 24px;
        height: 24px;
        float: right;
        object-fit: contain;
      }
    }
  }

  .item-wrapper {
    .user-details {
      background-color: var(--user-details-bg);
      display: grid;
      padding: 0 16px;
      width: 100%;

      .user-info {
        display: grid;
        font-weight: 400;
        font-size: 13px;
        color: var(--user-info-bg);
        margin-top: 0;
        margin-bottom: 10px;

        .info {
          font-size: 15px;
          text-transform: capitalize;
          color: var(--user-info-label);
        }

        .input-field-text {
          border-bottom: 2px solid var(--hr-line-grey);
          color: var(--input-field);
          width: 45%;

          ::ng-deep input {
            padding-left: 0;
            padding-top: 10px;
            padding-bottom: 5px;
          }
        }

        .district-col {
          display: grid;
        }

        .guardian-form-container {
          ion-col {
            padding: 0;
          }

          .btn-field {
            display: flex;
            justify-content: center;
            align-items: flex-end;
          }

          ::ng-deep .login-section {
            .input-wrapper {
              margin-top: 0;

              ion-grid {
                padding: 0;
              }
            }
          }
        }

        .change-password-txt {
          color: var(--blue-400);
          text-decoration: none;
          cursor: pointer;
        }
      }

      .delete-button-row {
        .delete-button-text {
          font-size: 13px;
          font-family: var(--sans);
          text-transform: capitalize;
          font-weight: bold;
          --background: var(--delete-button-bgcolor);
        }
      }
  
      .deletion-confirmed-msg {
        font-family: var(--sans);
        font-size: 13px;
        color: var(--delete-msg);
        margin-left: 5px;
      }

      .role-row {
        display: flex;
        width: 100%;

        .role-col {
          display: grid;
        }

        .icon-container {
          margin: auto;
          display: flex;
          justify-content: flex-start;
        }
      }

      .country-input {
        display: flex;
        width: 100%;

        .country-col {
          display: grid;
          width: 100%;
        }
      }

      .save-button {
        --background: var(--dodger-reblue);
        --color: white;
        height: 32px;
      }
    }

    .delete-button-row {
      .delete-button-text {
        font-size: 13px;
        font-family: var(--sans);
        text-transform: capitalize;
        font-weight: bold;
        --background: var(--delete-button-bgcolor);
      }
    }

    .deletion-confirmed-msg {
      font-family: var(--sans);
      font-size: 13px;
      color: var(--delete-msg);
      margin-left: 5px;
    }

    .profile-section {
      padding: 5px 16px;
      display: grid;
      grid-template-columns: 64px 1fr;
      width: 100%;

      .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;

        .profile {
          padding: 0;
          display: flex;
          justify-content: left;
          align-items: center;
        }

        .avatar-icon {
          ::ng-deep .avatar-container {
            height: 64px !important;
            width: 64px !important;

            .avatar-content {
              width: 64px;
              height: 64px;
              display: flex;
              align-items: center;
              justify-content: center;
              font: 16px / 30px Helvetica, Arial, sans-serif !important;
              margin: auto;
            }
          }
        }

        .image-picker {
          position: absolute;
          width: 64px;
          height: 64px;
          opacity: 0;
        }

        ion-spinner {
          position: absolute;
        }
      }

      .profile-label {
        margin: auto auto auto 24px;
        display: grid;

        .email,
        .fullname,
        .username {
          font-size: 12px;
          font-family: var(--sans);
          color: var(--profile-bg-color);
        }

        .fullname {
          font-size: 14px;
        }

        .email {
          font-weight: bold;
        }

        .username {
          font-style: italic;
        }
      }
    }

    .tab-list {
      height: 40px;
      width: 100%;

      ion-col {
        text-align: center;

        &:focus {
          outline: none;
        }

        &.active {
          border-bottom: 4px solid var(--tab-selected-blue);
          color: var(--tab-selected-blue);
          font-weight: bold;
        }

        ion-label {
          font-size: 10px;
          text-transform: uppercase;
          color: var(--dim-gray);
          font-family: var(--sans);
        }
      }
    }
  }
}
