<ion-header class="profile-page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'PROFILE' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="isOnline">
    <ion-row class="profile-page-container">
      <ion-row class="item-wrapper">
        <ion-row class="profile-section">
          <div class="profile-image">
            <ion-avatar class="profile avatar-icon" *ngIf="showNgxAvatar; else avatarImage">
              <ngx-avatar [name]="userSession.first_name"></ngx-avatar>
            </ion-avatar>
            <ng-template #avatarImage>
              <ion-avatar class="profile">
                <ion-img [src]="userSession.thumbnail" class="profile-icon" (ionError)="imageErrorHandler()"></ion-img>
              </ion-avatar>
            </ng-template>
            <ion-spinner *ngIf="isSaving" color="light" name="bubbles"></ion-spinner>
            <ion-input type="file" accept="image/*" class="image-picker" (change)="onClickUpdate($event)"></ion-input>
          </div>
          <div class="profile-label ellipsis">
            <span class="fullname">{{userSession.first_name}} {{userSession.last_name}}</span>
            <span class="username ellipsis">{{userSession.username}}</span>
            <ion-text class="email">{{userSession.email}}</ion-text>
          </div>
        </ion-row>
        <ion-row class="user-details" *ngIf="userDetails">
          <ion-row class="user-info">
            <ion-text class="change-password-txt" (click)="onChangePassword()">{{'CHANGE_PASSWORD' | translate}}</ion-text>
          </ion-row>
          <ion-row class="user-info role-row">
            <ion-col size="10" class="ion-no-padding role-col">
              <ion-text class="label">{{'ROLE' | translate}}</ion-text>
              <ion-text class="info" *ngIf="userDetails.role;else notSpecified">{{userDetails.role}}</ion-text>
            </ion-col>
            <ion-col size="2" class="edit-container icon-container" (click)="onClickEdit()">
              <span class="material-icons">edit</span>
            </ion-col>
          </ion-row>
          <ion-row class="user-info country-input">
            <ng-container *ngIf="isEditMode;else countryContainer">
              <ion-row class="country-col" (click)="togglePullUp()">
                <ion-text class="label">{{'COUNTRY' | translate}}</ion-text>
                <ion-input class="input-field-text read-only" [value]="selectedCountryDetail?.name"></ion-input>
              </ion-row>
            </ng-container>
            <ng-template #countryContainer>
              <ion-col class="country-col ion-no-padding">
                <ion-text class="label">{{'COUNTRY' | translate}}</ion-text>
                <ion-text class="info" *ngIf="userCountry;else notSpecified">{{userCountry}}</ion-text>
              </ion-col>
            </ng-template>
          </ion-row>
          <ion-row class="user-info">
            <ng-container *ngIf="isEditMode;else stateContainer">
              <ion-row class="district-col">
                <ion-text class="label">{{'STATE' | translate}}</ion-text>
                <ion-input class="input-field-text" [(ngModel)]="userDetails.state"></ion-input>
              </ion-row>
            </ng-container>
            <ng-template #stateContainer>
              <ion-text class="label">{{'STATE' | translate}}</ion-text>
              <ion-text class="info" *ngIf="userDetails.state;else notSpecified">{{userDetails.state}}</ion-text>
            </ng-template>
          </ion-row>
          <ion-row class="user-info">
            <ng-container *ngIf="isEditMode;else districtContainer">
              <ion-row class="district-col">
                <ion-text class="label">{{'DISTRICT' | translate}}</ion-text>
                <ion-input class="input-field-text" [(ngModel)]="schoolDistrict"></ion-input>
              </ion-row>
            </ng-container>
            <ng-template #districtContainer>
              <ion-col size="10" class="district-col ion-no-padding">
                <ion-text class="label">{{'DISTRICT' | translate}}</ion-text>
                <ion-text class="info" *ngIf="schoolDistrict;else notSpecified">{{schoolDistrict}}</ion-text>
              </ion-col>
            </ng-template>
          </ion-row>
          <ion-row *ngIf="isEditMode">
            <ion-button expand="block" fill="outline" class="save-button" (click)="onSubmit()">{{ 'SAVE' | translate }}</ion-button>
          </ion-row>
          <ng-template #notSpecified>
            <ion-text class="info">{{'NOT_SPECIFIED' | translate}}</ion-text>
          </ng-template>
          <ion-row class="delete-button-row">
            <ion-button class="delete-button-text" [disabled]="deletionTriggerDate" (click)="onDeleteAlert()">{{
              'DELETE_PROFILE' | translate }}</ion-button>
          </ion-row>
          <ion-row class="deletion-confirmed-msg" *ngIf="deletionTriggerDate">
            <ion-text>{{ 'DELETION_CONFIRMED_MSG' | translate }} {{ deletionTriggerDate }}</ion-text>
          </ion-row>
        </ion-row>
        <ion-row class="tab-list">
          <ion-col routerLink="/profile/preferences" routerLinkActive="active">
            <ion-label>{{'PREFERENCES' | translate}}</ion-label>
          </ion-col>
          <ion-col routerLink="/profile/about-me" routerLinkActive="active">
            <ion-label>{{'ABOUT_ME' | translate}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="isOnline; else offlineMessage">
    <ion-router-outlet></ion-router-outlet>
  </ng-container>
  <ng-template #offlineMessage>
    <nav-offline-message-preview></nav-offline-message-preview>
  </ng-template>
</ion-content>
