<ion-header class="forgot-password-header ion-no-border">
  <ion-toolbar>
    <ion-row class="justify-content-center">
      <ion-row class="back-button">
        <ion-back-button text="" defaultHref="login"></ion-back-button>
      </ion-row>
      <ion-row class="title-container">
        <ion-row class="justify-content-center">
          <ion-text *ngIf="resetFinished; else resetPasswordFormHeader">{{'CHECK_EMAIL' | translate}}</ion-text>
          <ng-template #resetPasswordFormHeader>
            <ion-text>{{'FORGOT_YOUR_PASSWORD' | translate}}</ion-text>
          </ng-template>
        </ion-row>
        <ion-row *ngIf="!resetFinished" class="justify-content-center">
          <ion-text class="description">{{'FORGOT_PASSWORD_HEADER_DESC' | translate}}
          </ion-text>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="forgot-password-container">
  <div class="logo">
    <ion-icon *ngIf="tenantImage;else gooruImg" class="tenant-logo-img" [ngStyle]="{'background-image': 'url('+tenantImage+')'}"></ion-icon>
    <ng-template #gooruImg>
      <ng-container *ngIf="appLogo">
        <ion-img class="navigator-logo-img" [src]="appLogo"></ion-img>
      </ng-container>
    </ng-template>
  </div>
  <div class="forgot-password-form">
    <form class="forgot-password-form">
      <div class="form-content">
        <div *ngIf="!resetFinished" class="form-group username">
          <div class="input-container">
            <div class="email">
              <div class="form-group">
                <nav-input-email [label]="'ENTER_YOUR_EMAIL' | translate" [parentForm]="forgotPasswordForm" (enterEmail)="onEnterEmail()"></nav-input-email>
                <ion-text *ngIf="submitted && validateForm.email.errors?.required" class="danger-text text-center">
                  {{'ENTER_EMAIL_ERROR' | translate}}
                </ion-text>
                <ion-text *ngIf="submitted && validateForm.email.errors?.email" class="danger-text text-center">
                  {{'ENTER_VALID_EMAIL' | translate}}
                </ion-text>
              </div>
            </div>
          </div>
          <span *ngIf="errorMessage && !validateForm.email.errors?.required && !validateForm.email.errors?.email" class="validation danger-text">{{'EMAIL_NOT_MATCH' | translate}}</span>
          <span *ngIf="googleError && !validateForm.email.errors?.required && !validateForm.email.errors?.email" class="validation danger-text">{{'GOOGLE_ERROR_DESC' | translate}}</span>
        </div>
        <div class="footer-description">
          <p *ngIf="!resetFinished" class="link-description">
            {{'LINK_DESC'| translate}}
          </p>
          <p class="contact-description" *ngIf="supportEmail">
            {{'CONTACT_DESC' | translate}}
            <a href="mailto:{{supportEmail}}" target="_top" class="support-mail">{{supportEmail}}</a>
          </p>
          <p *ngIf="resetFinished" class="link-description">
            {{'MAIL_SENT_DESC' | translate}}
          </p>
        </div>
        <div class="submit-button form-group text-center close-btn" *ngIf="resetFinished;else submitBtn" (click)="onClose()">
          <button type="submit" class="btn btn-info submit">
            {{'CLOSE' | translate}}
          </button>
        </div>
        <ng-template #submitBtn>
          <div class="submit-button form-group text-center" (click)="onSubmit()">
            <button type="submit" class="btn btn-success submit">
              {{'SUBMIT' | translate}}
            </button>
          </div>
        </ng-template>
      </div>
    </form>
  </div>
</ion-content>
