.forgot-password-header {
  ion-toolbar {
    --min-height: 58px;
    --border-width: 0;

    .back-button {
      position: absolute;
      padding: 10px 10px 0;
      left: 0;

      ion-back-button {
        min-width: 24px;
        --padding-start: 0;
        --padding-end: 0;
        margin: auto;
        --background-hover: none;
        --color: var(--dark-400);
      }
    }

    .title-container {
      height: 58px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;

      ion-text {
        font-size: 20px;
        color: var(--forgot-password-header-color);
      }

      .description {
        font-size: 12px;
        font-weight: 300;
        margin: auto;
      }
    }
  }
}

.forgot-password-container {
  width: 100%;

  .logo {
    display: flex;

    .tenant-logo-img {
      border-radius: 50%;
      border: 1px solid var(--grey);
    }

    .navigator-logo-img,
    .tenant-logo-img {
      width: 112px;
      height: 112px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 60px auto 0;
    }
  }

  .forgot-password-form {
    .form-content {
      margin: 15px 28px 28px;

      .footer-description {
        opacity: 0.7;
        font-size: 13px;
        text-align: center;
        width: 250px;
        margin: auto;

        .link-description {
          margin: 20px auto;
        }

        .contact-description {
          margin: auto;
        }
      }

      .form-group.username {
        width: 250px;
        margin: auto;

        .danger-text {
          justify-content: center;
          display: flex;
        }

        .input-container {
          font-weight: 400;
          width: 100%;

          span {
            opacity: 0.6;
          }

          .email {
            .form-group {
              margin: 5px 0;
            }
          }
        }
      }

      .submit-button {
        background-color: var(--forgot-password-submit-bg-color);
        width: 250px;
        margin: 50px auto;
        display: flex;
        height: 48px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

        &.close-btn {
          background-color: var(--forgot-password-close-color);
        }

        .submit {
          margin: auto;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          width: 100%;
          font-size: 20px;
          font-weight: 300;
          position: relative;
          background-color: transparent;
          color: var(--forgot-password-submit-color);
          font-weight: 600;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
