<ion-row class="taxonomy-list" [ngClass]="{'show-count-only': showOnlyCount}">
  <ng-container *ngIf="showFrameworkAndDisaplyCode; else showTaxonomyCode;">
    <ng-container *ngFor="let item of taxonomy | keyvalue;let i = index">
      <ion-row class="item" *ngIf="i < taxonomyCount">
        <ion-text class="label ellipsis">{{item.value.code}}</ion-text> 
        <ion-text class="label-txt">/</ion-text> 
        <ion-text class="label ellipsis">{{item.value.frameworkCode}}</ion-text>
      </ion-row>
    </ng-container>
  </ng-container>
  <ng-template #showTaxonomyCode>
    <ng-container *ngFor="let item of taxonomy | keyvalue;let i = index">
      <ion-row class="item" *ngIf="i < taxonomyCount">
        <ng-container  *ngIf="!showFrameworkInfo; else showFramework;">
          <ion-text class="label ellipsis">{{item.value.code}}</ion-text>
        </ng-container>
        <ng-template #showFramework>
          <ion-text class="label ellipsis">{{item.value.title}}</ion-text>
          <ion-text class="label ellipsis taxonomy-framework">{{item.value.frameworkCode}} {{item.value.parentTitle}}</ion-text>
        </ng-template>
      </ion-row>
    </ng-container>
  </ng-template>
  <ng-container *ngIf="moreItems.length">
    <ion-row class="item more-items" [ngClass]="{'no-more-text': !showMore}" (click)="showTaxonomyPopover($event)">
      <span class="label">+ {{moreItems.length}} <span class="sub-label" *ngIf="!showOnlyCount">{{"MORE" | translate}}</span></span>
    </ion-row>
  </ng-container>
</ion-row>
