.teacher-home-header {
  &::after {
    background-image: none;
  }

  ion-toolbar {
    --min-height: var(--toolbar-height);
    --background: var(--toolbar-bg-color);

    ion-grid {
      height: 48px;

      ion-row {
        height: 100%;

        .actions {
          display: flex;
        }

        ion-col {
          height: 100%;
          display: flex;

          .classroom-searchbar {
            --padding-start: 0;
            --placeholder-color: var(--learner-identity-header-color);
            --placeholder-font-weight: bold;
          }

          ion-buttons {
            height: 100%;

            ion-menu-button {
              color: var(--menu-bar-color);
            }
          }

          i {
            display: flex;
            margin: auto;
            height: 44px;
            width: 44px;
            justify-content: center;
          }

          ion-searchbar {
            height: 100%;
            padding: 0;
            --background: transparent;
            --placeholder-font-weight: 700;
          }
        }
      }
    }

    ion-title {
      padding: 0;
      font-size: 15px;
      font-weight: bold;
      color: var(--learner-identity-header-color);
      margin: auto;
      text-align: left;
    }
  }
}

.teacher-home-container {
  --background: var(--ion-content-bg);
  --padding-top: 26px;
  --padding-bottom: 26px;
  
  .no-class-view {
    width: 90%;
    margin: 20px auto;
    font-style: italic;
    color: var(--no-class-text-color);
    text-align: center;
    justify-content: center;
  }

  ::ng-deep #ion-refresher {
    ion-refresher-content {
      background-color: var(--ion-content-bg);

      .refresher-pulling {
        .refresher-pulling-icon,
        .refresher-pulling-text {
          color: var(--white);
        }
      }

      .refresher-refreshing {
        .refresher-refreshing-icon {
          ion-spinner {
            color: var(--white);
          }
        }

        .refresher-refreshing-text {
          color: var(--white);
        }
      }
    }
  }

  ion-tabs {
    ion-tab-bar {
      height: 40px;
      border: 0;
    }

    ion-tab-button {
      min-width: calc(100% / 2);
      font-size: 12px;
      text-align: center;
      color: var(--home-tab-text-color);
      letter-spacing: normal;
      border-bottom: 3px solid rgba(125, 125, 125, 0.1);

      &.tab-selected {
        color: var(--tab-selected-blue);
        font-weight: bold;
        border-bottom: 3px solid var(--tab-selected-blue);
      }
    }
  }
}

.teacher-home-tabs {
  background-color: var(--white);
  --min-height: 40px;

  .tab-item {
    --background: var(--white);
    color: var(--dark-400);
    font-size: 13px;
    --border-style: none;

    .tab-label {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: initial;
      white-space: normal;
      text-align: center;
      margin: 0;
    }
  }

  .journey-tab-border {
    border-bottom: 4px solid var(--proficiency-tabs-selected-color);

    .tab-item {
      .tab-label {
        color: var(--proficiency-tabs-selected-color);
      }
    }
  }
}

.teacher-homepage-footer {
  transition: 1s;
  overflow: auto;

  .create-classroom-toolbar {
    --min-height: 40px;
    border-top: 1px solid var(--light-gray);

    ion-grid {
      height: 40px;
    }

    .title-col {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 48px;

      .title {
        margin: auto;
      }

      .arrow-col {
        .arrow-icon {
          margin: auto;
          display: flex;
          height: 100%;
        }
      }

      ion-text {
        width: 100%;
        padding-left: 16px;
        font-size: 14px;
        font-weight: 600;
        font-family: var(--sans);
        color: var(--students-list-title);
      }
    }
  }
}
