.input-wrapper {
  margin-top: 12px;

  .input-label {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: var(--input-label);
  }

  .input-field {
    width: 250px;
    border-bottom: 2px solid var(--hr-line-color);
    color: var(--input-field);
    text-align: center;

    ::ng-deep input {
      padding: 14px;
    }
  }

  .username-label {
    justify-content: center;
  }
}
