<ion-grid class="no-padding">
  <ion-row class="calendar-container">
    <i class="material-icons left-arrow" (click)="onPreviousDate()">keyboard_arrow_left</i>
    <div class="calendar-panel">
      <div class="label-conatiner" (click)="onToggleCalendar()">
        <ng-container *ngIf="isDailyView">
          <div class="date-label">
            {{dailyViewDate | formatDate: 'DD MMM YYYY'}}
          </div>
        </ng-container>
        <ng-container *ngIf="isWeeklyView">
          <div class="date-label">
            {{weeklyViewStartDate | formatDate:'DD MMM YYYY'}} - {{weeklyViewEndDate | formatDate:'DD MMM YYYY'}}
          </div>
        </ng-container>
        <ng-container *ngIf="isMonthlyView">
          <div class="date-label">
            {{monthlyViewStartDate | formatDate:'DD MMM YYYY'}} - {{monthlyViewEndDate | formatDate:'DD MMM YYYY'}}
          </div>
        </ng-container>
        <i class="material-icons dropdown-icon">arrow_drop_down</i>
      </div>
      <nav-ca-calendar class="ca-calendar" [highlightDates]="highlightDates" [disabledDates]="disabledDates" [dailyViewDate]="dailyViewDate" [weeklyViewDate]="weeklyViewStartDate" [monthlyViewDate]="monthlyViewStartDate"
        [isDailyView]="isDailyView" [isWeeklyView]="isWeeklyView" [isMonthlyView]="isMonthlyView" [ngClass]="showCalendar ? 'show' : 'hide'" (selectView)="onSelectView($event)" (toggleCalendar)="onToggleCalendar()"
        (dailyViewDateChanged)="dailyViewDateChanged($event)" (dailyViewMonthChanged)="dailyViewMonthChanged($event)" (weeklyViewMonthChanged)="weeklyViewMonthChanged($event)" (weeklyViewDateChanged)="weeklyViewDateChanged($event)"
        (monthlyViewMonthChanged)="monthlyViewMonthChanged($event)">
      </nav-ca-calendar>
    </div>
    <i class="material-icons right-arrow" (click)="onNextDate()">keyboard_arrow_right</i>
  </ion-row>
</ion-grid>
<div *ngIf="showCalendar" class="backdrop" (click)="onToggleCalendar()"></div>
