.calendar-container {
  display: grid;
  grid-template-columns: 35px 1fr 35px;
  text-align: center;
  align-items: center;
  height: 48px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--ca-calendar-bg);
  border-bottom: 1px solid var(--ca-border);

  .left-arrow,
  .right-arrow {
    color: var(--arrow-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar-panel {
    position: relative;
    width: 100%;
    display: flex;

    .label-conatiner {
      display: flex;
      width: 100%;
      justify-content: center;

      .date-label {
        font-size: 15px;
        color: var(--date-label-color);
        margin-right: 20px;
      }

      .dropdown-icon {
        color: var(--dark-400);
      }
    }

    .ca-calendar {
      z-index: 12;
    }
  }
}

.backdrop {
  position: absolute;
  top: 48px;
  z-index: 3;
  cursor: pointer;
  margin: auto;
  bottom: auto;
}
