<ion-header class="header-wrapper ion-no-border">
  <ion-toolbar>
    <ion-row class="justify-content-center">
      <ion-row class="back-button">
        <ion-col class="col back-btn-col" (click)="onClosePopUp()" *ngIf="!isChangedPassword">
          <ion-text class="material-icons">arrow_back</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="title-container">
        <ion-text class="title-text">{{ 'CHANGE_PASSWORD' | translate }}</ion-text>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="change-password-content-container">
  <ion-row class="change-password-des" *ngIf="isChangedPassword">
    {{ 'PLEASE_CREATE_SECURE_PASSWORD_DES' | translate }}
  </ion-row>
  <ion-grid>
    <ion-row class="logo-img" *ngIf="productLogo">
      <ion-img [src]="productLogo"></ion-img>
    </ion-row>
    <ion-row class="navigator-logo-img" *ngIf="appLogo">
      <ion-img [src]="appLogo"></ion-img>
    </ion-row>
    <ion-row class="content-wrapper">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onChangedPassword()" class="change-password-form" autofill="off">
        <ion-row>
          <ion-grid>
            <ion-row class="justify-content-center" *ngIf="!isChangedPassword">
              <nav-input-password [label]="'ENTER_YOUR_CURRENT_PASSWORD' | translate" [formName]="'currentpassword'" [parentForm]="changePasswordForm"></nav-input-password>
              <ion-text *ngIf="isSubmit && validateForm.currentpassword.errors" class="danger-text">{{'ENTER_YOUR_TEXT' | translate}} {{'PASSWORD'| translate}}.</ion-text>
            </ion-row>
            <ion-row class="justify-content-center">
              <nav-input-password [label]="'ENTER_YOUR_NEW_PASSWORD' | translate" [formName]="'newpassword'" [parentForm]="changePasswordForm"></nav-input-password>
              <ion-text *ngIf="isSubmit && validateForm.newpassword.errors" class="danger-text">{{'ENTER_YOUR_TEXT' | translate}} {{'PASSWORD'| translate}}.</ion-text>
            </ion-row>
            <ion-row class="justify-content-center">
              <nav-input-password [label]="'CONFIRM_YOUR_PASSWORD' | translate" [formName]="'confirmpassword'" [parentForm]="changePasswordForm"></nav-input-password>
              <ion-text *ngIf="isSubmit && validateForm.confirmpassword.errors" class="danger-text">{{'ENTER_YOUR_TEXT' | translate}} {{'PASSWORD'| translate}}.</ion-text>
              <ion-text *ngIf="isSubmit && checkPassword && !validateForm.confirmpassword.errors" class="danger-text">{{'PASSWORD_NOT_MATCH' | translate}}.</ion-text>
            </ion-row>
          </ion-grid>
        </ion-row>
        <ion-row>
          <ion-button class="submit-btn" type="submit">{{ 'SUBMIT' | translate }}</ion-button>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>