<ion-row class="read-more" [ngClass]="{'collapse' : isCollapsed}">
  <ion-row class="text-container">
    <ion-text [ngClass]="{'multi-line-ellipsis' : isCollapsed}" [ngStyle]="{'-webkit-line-clamp': lineCount}" class="text-description">
      <ng-content></ng-content>
    </ion-text>
    <ion-text *ngIf="showMore" class="more-link" [ngClass]="{'less' : !isCollapsed}" (click)="onClickReadMore($event)">{{isCollapsed ? ('MORE' | translate) : ('LESS' | translate)}}</ion-text>
  </ion-row>
</ion-row>
