:root {
  --gooru-logo: url("/assets/icons/gooru-logo.svg");
  --check-circle: url("/assets/icons/check-circle.svg");
  --google-icon: url("/assets/icons/google-icon.svg");
  --nav-math-logo: url("/assets/images/nav-math-logo.png");
  --arrow-down-icon: url("/assets/icons/drop-down-arrow.svg");
  --tick: url("/assets/icons/correct.svg");
  --tick-icon: url("/assets/icons/tick-icon.svg");
  --wrong: url("/assets/icons/wrong.svg");
  --nav-setting: url("/assets/images/icons/settings.svg");
  --nav-performance-overview-black: url("/assets/images/icons/atc-view-black.png");
  --nav-performance-overview-blue: url("/assets/images/icons/atc-view-blue.png");
  --nav-dca: url("/assets/images/icons/dca.svg");
  --nav-proficiency: url("/assets/images/icons/proficiency.svg");
  --language-icon: url("/assets/images/icons/language.png");
  --milestone-lesson-icon: url("/assets/images/icons/milestone-lesson.svg");
  --assignment-icon: url("/assets/images/icons/assignment-icon.svg");
  --collection-icon: url("/assets/images/icons/collection-icon.svg");
  --option-icon: url("/assets/images/icons/option-icon.svg");
  --video-resource-icon: url("/assets/images/icons/video-resource.svg");
  --performance-score-fill-bg: url("/assets/images/combined-shape.svg");
  /*splash screen image*/
  --splash-screen-image: url("/assets/images/navigator-splash.gif");
  --competency-img: url("/assets/images/gooru-edu-rights-badge.png");
  --collection: url("/assets/images/icons/collection.svg");
  --assessment: url("/assets/images/icons/assessment.svg");
  --offline: url("/assets/images/icons/offline-activity-icon.svg");
  --collection-thumbnail: url("/assets/images/collection-default-xs.png");
  --assessment-thumbnail: url("/assets/images/assessment-default-xs.png");
  --offline-thumbnail: url("/assets/images/offline-activity.png");
  --proficiency: url("/assets/images/icons/add_proficiency.svg");
  --question: url("/assets/images/icons/question.svg");
  --dca-resource: url("/assets/images/icons/resource.svg");
  --text-resource-icon: url("/assets/images/icons/text-resource.svg");
  --course: url("/assets/images/icons/course.svg");
  --lesson: url("/assets/images/icons/lesson.svg");
  --rubric: url("/assets/images/icons/rubric.svg");
  --pdf-icon: url("/assets/images/icons/pdf.svg");
  --default-course-img: url("/assets/images/default-course.png");
  --meet-icon: url("/assets/images/icons/meet.svg");
  --clock-icon: url("/assets/images/icons/clock.svg");
  --download-icon: url("/assets/images/icons/download.svg");
  --info-icon: url("/assets/images/icons/info.svg");
  --default-text-resource-img: url("/assets/images/default-text-resource.png");
  --default-video-resource-img: url("/assets/images/default-video-resource.png");
  --default-website-resource-img: url("/assets/images/default-website-resource.png");
  --webpage-resource-icon: url("/assets/images/icons/webpage-resource.svg");
  --default-interactive-resource-img: url("/assets/images/default-interactive-resource.png");
  --interactive-resource-icon: url("/assets/images/icons/interactive-resource.svg");
  --default-image-resource-img: url("/assets/images/default-image-resource.png");
  --image-resource-icon: url("/assets/images/icons/image-resource.svg");
  --default-audio-resource-img: url("/assets/images/default-audio-resource.png");
  --apple-icon: url("/assets/images/icons/apple-icon.svg");
  --zoom-icon: url("/assets/images/icons/zoom.svg");
  --video-conference-icon: url("/assets/images/icons/video-conference.svg");
  --oa-pdf-icon: url("/assets/images/icons/file-pdf-solid.svg");
  --oa-image-icon: url("/assets/images/icons/file-image-solid.svg");
  --share-icon: url("/assets/images/share.png");
  --profile-icon: url("/assets/images/icons/profile.png");
  --competency-icon: url("/assets/images/icons/competency-icon.png");
  --diagnostic-icon: url("/assets/images/icons/diagnostic-icon.png");
  --assessment-orange: url("/assets/images/icons/assessment-orange.svg");
  --preview-icon: url("/assets/images/icons/preview-dark.svg");
  --create-classroom-bg: url("/assets/images/create-classroom-bg.png");
  --subject-classroom-bg-one: url("/assets/images/subject-classroom-bg-one.png");
  --subject-classroom-bg-two: url("/assets/images/subject-classroom-bg-two.png");
  --subject-classroom-bg-three: url("/assets/images/subject-classroom-bg-three.png");
  /*menu icons*/
  --menu-journey: url("/assets/images/icons/menu-icons/journey.svg");
  --menu-profile: url("/assets/images/icons/menu-icons/profile.svg");
  --radio-btn: url("/assets/images/icons/radio-btn.svg");
  --tick: url("/assets/images/icons/correct.svg");
  --wrong: url("/assets/images/icons/wrong.svg");
  --mastered-img: url("/assets/images/mastered-icon.svg");
  --lesson-blue-img: url("/assets/images/lesson-blue.svg");
  --assessment-dark-blue-img: url("/assets/images/assessment-dark-blue.svg");
  --badge-img: url("/assets/images/badge-group.svg");
  /* offline images */
  --offline-icon: url("/assets/images/offline-icon.svg");
  --offline-check-icon: url("/assets/images/completed-sync.png");
  --offline-failed-icon: url('/assets/images/sync-failed.png');
  --offline-queue-icon: url('/assets/images/offline-pending-icon-svg.png');
  /* SNS indicator images */
  --sns-completed-icon: url("/assets/images/icons/completed.png");
  --sns-inprogress-icon: url("/assets/images/icons/in-progress.png");
  --sns-notstarted-icon: url("/assets/images/icons/not-started.png");
}
