//student proficiency card view styles

.student-proficiency-view {
  svg {
    #student-competency-cell {
      stroke: var(--student-competency-cell);
      stroke-dasharray: 0.5, 20, 0, 0;
      stroke-width: 10px;
    }

    .fill-0 {
      fill: var(--gray-300);
    }

    .fill-1 {
      fill: var(--proficiency-competency-status-1);
    }

    .fill-2,
    .fill-3,
    .fill-4,
    .fill-5 {
      fill: var(--proficiency-competency-status-3);
    }
  }
}

.students-proficiency-container {
  #chart-area {
    svg#chart-graph {
      #competencies-group {
        .competency-cell {
          fill: var(--gray-300);

          &.class-grade-domain-competency {
            fill: var(--picton-blue);
          }
        }
      }

      #topic-group {
        .competency-cell {
          fill: var(--gray-300);

          &.class-grade-competency {
            fill: var(--picton-blue);
          }
        }
      }
    }
  }
}

#chart-area {
  width: inherit;
  transform: rotateX(180deg);
  transform-style: preserve-3d;
  height: 100%;

  &.expanded-chart {
    svg#chart-graph {
      #competencies-group,
      #topic-group {
        .competency-cell {
          stroke-width: 2;
          shape-rendering: crispedges;
        }
      }
    }
  }

  #active-competency-group {
    .active-competency {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
      stroke: rgba(0, 0, 0, 1);
      stroke-opacity: 0.25;
      stroke-width: 5px;
    }
  }

  svg#chart-graph {
    width: 100%;

    .non-active {
      opacity: 0.2;
    }

    .active {
      opacity: 1;
    }

    #domains-group {
      .mask {
        opacity: 0.4;
        background-color: var(--proficiency-mask-color);
      }

      [id^="domain-group"].active {
        #topic-group {
          .topic-competency-cell {
            stroke-width: 2;
          }
        }
      }

      .domain-highlight {
        border: 1px solid rgba(0,0,0,.5);
      }
    }

    #competencies-group,
    #topic-group {
      .no-competency {
        opacity: 0.4;

        &.clear-competency {
          opacity: 1;
        }
      }

      .competency-cell {
        stroke: var(--proficiency-competency-cell);
        stroke-width: 1;
        shape-rendering: crispedges;
        stroke-opacity: 0.7;
        cursor: pointer;
      }

      .active-competency {
        ion-skeleton-text {
          margin: 0;
        }
      }
    }

    #skyline-group {
      filter: url(#skyline-back-shadow);
    }

    #gradeline-group,
    #skyline-group {
      line,
      polyline {
        animation: polylineDash 6s linear forwards;
        stroke: var(--skyline-color);
        fill: none;
      }

      &#skyline-group polyline {
        stroke-width: 6px;
        stroke: var(--skyline-color);
      }

      &#gradeline-group polyline {
        stroke-width: 4px;
        stroke: var(--grade-line-color);
      }
      @keyframes polylineDash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }

    #gradeline-group {
      line {
        stroke: var(--proficiency-gradeline-group);
        stroke-width: 4px;
      }
    }
  }
}
//student proficiency chart view styles

#student-chart-container {
  &.expanded-chart {
    svg#chart-graph {
      #cells-group {
        #competency-cell {
          stroke-width: 3;
        }
      }
    }
  }

  svg#chart-graph {
    width: 100%;

    .non-active {
      opacity: 0.2;
    }

    .active {
      opacity: 1;
    }

    #cells-group {
      .no-competency {
        opacity: 0.4;

        &.clear-competency {
          opacity: 1;
        }
      }

      #competency-cell {
        stroke: var(--proficiency-competency-cell);
        stroke-width: 1;
        shape-rendering: crispedges;
        stroke-opacity: 0.7;
        cursor: pointer;
      }
    }

    #skyline-group {
      line {
        stroke: var(--proficiency-competency-cell);
        stroke-width: 6px;
      }
    }

    #gradeline-group {
      line {
        stroke: var(--proficiency-gradeline-group);
        stroke-width: 4px;
      }
    }
  }
}
//student proficiency chart competency styles

.competency-status-0 {
  background-color: var(--gray-300);
}

.competency-status-1 {
  background-color: var(--proficiency-competency-status-1);
}

.competency-status-2,
.competency-status-3,
.competency-status-4,
.competency-status-5 {
  background-color: var(--proficiency-competency-status-3);
}

.competency-status-fill-0 {
  fill: var(--gray-300);
}

.competency-status-fill-1 {
  fill: var(--proficiency-competency-status-1);
}

.competency-status-fill-not-framework {
  fill: var(--proficiency-legends-show-gut);
}

.no-map-framework {
  fill: url("#linearGradient");
}

.stop-top {
  stop-color: var(--proficiency-no-competency);
}

.stop-bottom {
  stop-color: var(--proficiency-no-competency-bottom);
}
//student proficiency chart competency cell status colors and styles

.competency-status-fill-2,
.competency-status-fill-3,
.competency-status-fill-4,
.competency-status-fill-5 {
  fill: var(--proficiency-competency-status-3);
}

.competency-status {
  justify-self: center;
  width: 24px;
  height: 24px;
  background-color: var(--proficiency-competency-status-3);
  justify-self: center;
  width: 24px;
  height: 24px;

  &.status-0 {
    background-color: var(--proficiency-status-color);
  }

  &.status-1 {
    background-color: var(--proficiency-competency-status-1);
  }

  &.status-2,
  &.status-3,
  &.status-4,
  &.status-5 {
    background-color: var(--proficiency-competency-status-3);
  }
}
//domain competency progress bar styles

#competency-progressBar-container {
  svg#competency-progressBar {
    g {
      .competencies-line {
        stroke-width: 2px;
        opacity: 0.7;
      }

      .mastered {
        fill: var(--domain-chart-mastered);
      }

      .in-progress {
        fill: var(--domain-chart-in-progress);
      }

      .not-started {
        fill: var(--gray-300);
      }
    }
  }
}
//competency progress bar styles

.competency-progress-bar-container {
  .competency-progress-bar {
    svg {
      margin: auto;

      .progress-background {
        fill: var(--competency-progress-bar-bg);
      }

      .progress-bar-mastered {
        fill: var(--proficiency-competency-status-3);
        stroke-width: 6px;
        stroke: var(--proficiency-competency-status-3);
      }

      .progress-bar-in-progress {
        fill: var(--proficiency-competency-status-1);
        stroke-width: 6px;
        stroke: var(--proficiency-competency-status-1);
      }

      .progress-bar-not-started {
        fill: var(--proficiency-competency-status-0);
      }

      .student-progress-bar-mastered {
        fill: var(--proficiency-competency-status-3);
      }

      .student-progress-bar-in-progress {
        fill: var(--proficiency-competency-status-1);
      }

      .student-progress-bar-not-started {
        fill: var(--proficiency-competency-status-0);
      }
    }
  }
}

.class-progress-bar {
  border-radius: 41%;
}

.competency-progress-bar-border {
  stroke-width: 6px;
  stroke: var(--progress-bar-border-color);
}
//Domain info chart

#competency-progressbar-container,
#domain-competency-progressbar-container {
  svg#competency-progressbar,
  svg#domain-competency-progressbar {
    g {
      .competencies-line {
        stroke-width: 2px;
        opacity: 0.7;
      }

      .mastered {
        fill: var(--domain-chart-mastered);
      }

      .in-progress {
        fill: var(--domain-chart-in-progress);
      }

      .not-started {
        fill: var(--gray-300);
      }
    }
  }
}
// proficiency pullup css

.competency-info-component,
.domain-info-component,
.legend-info-component,
.topic-info-component {
  .modal-wrapper {
    height: 100%;
    margin-top: auto;
  }
}
