// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/
:root {
  /** color **/
  --question-submit-btn-color: #00abdf;
  --oa-submission-header-color: #3e5e67;
  --offline-activity-url-color: var(--dark-400);
  --offline-activity-task-color: var(--white);
  --offline-activity-bg-color: var(--white);
  --curious-blue: #1c79dd;
  --dodger-reblue: #3880ff;
  --oa-file-border-color: #bbb;
  --oa-file-color: #0072bc;
  --rubric-grade-score: #febd27;
  --grade-radio-checked: #bbb;
  --grade-radio-color: #484343;
  --grade-category-layer: #2e5d66;
  --grade-level-rubric-font: #37424b;
  --grade-level-rubric: #5d666f;
  --rubric-active-tab: #0097f7;
  --grade-category-desc: #2a333a;
  --grade-category: #4b8e4a;
  --rubric-info: #35424b;
  --rubric-background-color: #395d66;
  --light-grey: #efeff4;
  --tundora: #4a4a4a;
  --grey: #8f8e94;
  --green: #4c9935;
  --haveloc-blue: #4a8cdb;
  --red: #f46360;
  --mini-shaft: #212121;
  --outer-space: #29323a;
  --white: #ffffff;
  --black: #000000;
  --dodger-blue: #3893ff;
  --fruit-salad: #4b9741;
  --dark-brown: #535e67;
  --fern: #5cb055;
  --curious-blue: #1c79dd;
  --dodger-reblue: #3880ff;
  --pastel-green: #6de55c;
  --fiord: #415d66;
  --line-gray: #979797;
  --hr-line-grey: #efeff4;
  --albaster: #fbfbfb;
  --limed-spruce: #37424b;
  --limed-spruce-light: #35424b;
  --dusty-grey: #979797;
  --light-black: #202e32;
  --dark-400: #37424b;
  --picton-blue: #1aa9eb;
  --atens-grey: #e3e5ea;
  --dusty-grey-opacity: rgba(151, 151, 151, 0.5);
  --gray-light: #E0E0E0;
  --splash-orange: #eb913e;
  --blue-400: #0072bc;
  --light-grayish-green: #76b072;
  --light-grayish: #fbfcfc;
  --bright-orange: #f8ba41;
  --brown-dark: #dcdfe0;
  --gray-200: #d1c9c9;
  --title-color: #666666;
  --grey-suit: #797979;
  --dim-gray: #5d5d5d;
  --summer-sky: #1aa9eb;
  --dark-blue-color: #1d7dc2;
  --gray-400: #36424b;
  --black-200: #000000;
  --line-brown: #8fd383;
  --transparent: transparent;
  --light-blue: #dbe9f9;
  --blue-300: #0097f7;
  --porcelain: #ebeced;
  --cornflower-blue: #4990e2;
  --light-green: #37bf2e;
  --border-gray: #ccc;
  --carrot-orange: #ef8f2f;
  --tan-hide: #f98e4e;
  --submarine: #b8bfc4;
  --limed-spruce-dark: #34424b;
  --dark-400-opacity-3: rgba(55, 66, 75, 0.3);
  --black-opacity-5: rgba(0, 0, 0, 0.5);
  --active-grey: rgba(0,0,0,.04);
  --dodger-400-blue: #4e5e68;
  --light-white: #f2f2f2;
  --yellow: #f89e1b;
  --lochmara: #007ad9;
  --iris-blue: #00abdf;
  --lochmara-dark: #0072bc;
  --dark-200-opacity: rgba(0, 0, 0, 0.2);
  --gray-400-opacity: rgba(200, 200, 200, 0);
  --very-light-grey: #cecece;
  --gray-300: #e7e8e9;
  --gray-500: #02030a;
  --smalt-blue: #3e5e67;
  --black-opacity-9: rgba(0,0,0,0.9);
  --fiord: #4e5e67;
  --east-bay: #515e67;
  --solitude: #f1f3f7;
  --sun: #ed8e36;
  --arsenic: #3a444d;
  --cerulean: #007ab8;
  --black-300: #63727d;
  --light-grayish-blue: #727b81;
  --blue-200: #0072bb;
  --iron: #dbdfe1;
  --black-with-rgb: rgba(255, 255, 255, 0);
  --athens-gray: #f2f2f3;
  --seasheel: #f1f1f1;
  --bittersweet: #f36463;
  --oslo-grey: #969B9F;
  --light-yellow: #f5c75c;
  --generic-gray: #2070b9;
  --hex-gray: #e2dfdf;
  --mastered-blue: #006eb5;
  --blue-500: #33424b;
  --gray-500-color: #b8bbbf;
  --bright-orange: #f88c49;
  --light-gray: #d3d3d3;
  --time-spent-color: #4e5e68;
  --audio-color: #778087;
  --gray-dark: #D8D8D8;
  --blue-dark: #2a73bd;
  --blue-light: #75a7d6;
  --point-color: #008000;
  --timepsent-grey: #dadada;
  --gray: #888888;
  --alto: #d6d6d6;
  --apple: #4CAF50;
  --valencia: #d83939;
  --apple-with-dark: #538A32;
  --mini-shaft-light: #212121;
  --abbey: #4c4c4e;
  --silver-sand: #c3c6c9;
  --dark-blue: #0072bc;
  --active-blue: #1e90ff;
  --whisper: #e7e7e7;
  --toast-success: #5FBA7D;
  --toast-danger: #DC3545;
  --norway: #93c08f;
  --woodsmoke: #131415;
  --dark-300: #4e5e67;
  --gray-a9: #a9a9a9;
  --black-light: #0a0909;
  --steelblue: #4682b4;
  --light-sky-blue: #add8e6;
  --la-palma: #418137;
  --whisper: #ebebeb;
  --light-white-gray:#adadad;
  --sync-progress-bar-linear: #4a9846;
  --sync-progress-bar-linear-fade: #c0d8c3;
  --in-progress: #84b7dd;
  --attachment: #03a9f4;
  --inferred: #477eeb;
  /** variables **/
  /** atc chart  */
  --atc-chart-view-line-color: var(--blue-400);
  --atc-chart-view-path-color: var(--white);
  /** milestone course map report  */
  --ms-coursemap-report-color: var(--white);
  --ms-coursemap-report-gradient-1: var(--whisper);
  --ms-coursemap-report-gradient-2: var(--very-light-grey);
  /** milestone */
  --milestone-play-icon-color: var(--dark-blue);
  --last-played-collection-color: var(--dark-blue);
  --highlight-color: var(--dark-blue);
  --class-milestone-color: var(--dim-gray);
  --milestone-toggle: var(--black);
  --milestone-toggle-checked: var(--white);
  /** milestone rescope content  */
  --rescope-toggle-row-bgcolor: var(--dark-400);
  --rescope-toggle-text: var(--white);
  --rescoped-content-bgcolor: var(--dark-gray);
  --skeleton-panel-bg: var(--white);
  /*notification*/
  --notification-count-color: var(--active-blue);
  --notification-msg-color: var(--dark-400);
  --notification-background: var(--white);
  --notification-icon-active: var(--summer-sky);
  --notification-inactive: var(--limed-spruce);
  --notification-title-color: var(--dark-400);
  --notification-arrow-icon: var(--dark-400);
  --notification-play-icon: var(--dark-blue);
  --notification-panel-container-color: var(--line-gray-color);
  /** milestone rescope content  */
  --milestone-border-color: var(--border-gray);
  --milestone-no-score-text: var(--dark-400);
  --milestone-panel-bg: var(--dark-blue);
  --milestone-view-text-color: var(--dark-400);
  --milestone-view-bg-color: var(--white);
  //search by filters variables
  --filter-count-txt: var(--gray-dark);
  --filter-count-bg: var(--blue-dark);
  --filter-txt-color: var(--white);
  --filter-count-border: var(--black);
  --filter-icon-selected: var(--blue-400);
  --filter-confirm-btn: var(--white);
  --search-filter-icon: var(--blue-400);
  --competency-searchbar: var(--submarine);
  --filter-clear-btn: var(--blue-light);
  --class-progress-download: var(--white);
  //proficiency variables
  --domain-competency-bg-color: var(--white);
  --class-statistics-bg: var(--white);
  --suggestion-bg-color: var(--tan-hide);
  --suggestion-txt-color: var(--white);
  --grade-line-color: var(--line-brown);
  --skyline-color: var(--white);
  --proficiency-mask-color: var(--white);
  --domain-info-number: var(--black);
  --student-count-color: var(--white);
  --domain-competency-color: var(--solitude);
  --grade-header-color: var(--border-gray);
  --teacher-suggestion-text: var(--white);
  --library-content-color: var(--solitude);
  --teacher-suggestion-icon: var(--bright-orange);
  --teacher-suggestion-color: var(--tundora);
  --atc-student-list-conatiner: var(--white);
  --atc-student-performance: var(--hex-gray);
  --atc-student-info: var(--hex-gray);
  --atc-competency-count-not-started: var(--gray-500-color);
  --atc-competency-count-mastered: var(--dark-blue-color);
  --atc-competency-count-gray: var(--blue-500);
  --atc-progress-mastered-count: var(--dark-blue-color);
  --atc-progress-not-started: var(--line-gray);
  --atc-progress-mastered: var(--mastered-blue);
  --atc-progress-color: var(--picton-blue);
  --atc-student-title: var(--dark-400);
  --atc-student-header-container: var(--hex-gray);
  --atc-student-report-container: var(--white);
  --atc-overall-competency: var(--generic-gray);
  --atc-performance-score: var(--light-yellow);
  --atc-calendar-dropdown-icon: var(--dark-400);
  --atc-calendar-arrow-color: var(--arrow-color);
  --atc-calendar-ca-border: var(--ca-border);
  --atc-calendar-container: var(--ca-calendar-bg);
  --no-performance-bg: var(--portfolio-timespent-color);
  --rotate-screen-color: var(--picton-blue);
  --grade-list-option: var(--dark-300);
  --grade-list: var(--white);
  --atc-tick-text: var(--white);
  --atc-chart-bg: var(--light-black);
  --learning-map-content-icon: var(--white);
  --learning-map-activity-container-bg: var(--dark-400);
  --learning-map-header-border: var(--header-border);
  --learning-map-show-more: var(--white);
  --progress-bar-border-color: var(--dark-400);
  --domain-coverage-title-color: var(--limed-spruce-light);
  --proficiency-tab-not-selected: var(--light-white);
  --domain-coverage-bg: var(--black-200);
  --detail-class-statistics-bg: var(--white);
  --competency-progress-bar-bg: var(--submarine);
  --student-domain-mastered-color: var(--blue-200);
  --student-performance-border: var(--black-200);
  --competency-performance-content-color: var(--white);
  --competency-performance-panel-bg: var(--dark-400);
  --students-competency-performance-icon: var(--white);
  --taxonomy-list-border: var(--dark-400);
  --competency-content-icon-color: var(--light-grayish-blue);
  --signature-content-color: var(--tundora);
  --competency-content-color: var(--dusty-grey);
  --activity-actions-color: var(--lochmara-dark);
  --activity-creator-name: var(--lochmara-dark);
  --activity-creator-bg: var(--light-white);
  --activity-content-count-color: var(--white);
  --activity-image-bg: var(--black-200);
  --activity-content-color: var(--black-300);
  --learning-map-background-color: var(--white);
  --proficiency-background-color: var(--white);
  --taxonomy-list-font-color: var(--white);
  --taxonomy-list-color: var(--dark-400);
  --taxonomy-bg-color: var(--white);
  --taxonomy-text-color: var(--dark-400);
  --taxonomy-border-color: var(--grey);
  --suggestion-popup-title-color: var(--gray-500);
  --backdrop: var(--black-200);
  --suggestion-popup-image-bg: var(--black-200);
  --suggestion-popup-bg-color: var(--white);
  --proficiency-status-color: var(--gray-300);
  --proficiency-gradeline-group: var(--grade-line);
  --student-competency-cell: var(--white);
  --proficiency-active-competency: var(--black-opacity-5);
  --proficiency-expand-view-color: var(--gray-400-opacity);
  --proficiency-box-shadow: var(--dark-200-opacity);
  --portfolio-timespent-color: var(--submarine);
  --portfolio-text-color: var(--dark-400);
  --portfolio-border: var(--porcelain);
  --portfolio-content-color: var(--black-200);
  --portfolio-options-color: var(--white);
  --portfolio-no-text-color: var(--limed-spruce);
  --portfolio-content-background-color: var(--white);
  --portfolio-show-more-color: var(--dark-brown);
  --suggestion-panel-count-color: var(--black-200);
  --suggestion-panel-icon: var(--tan-hide);
  --suggestion-panel-action-font: var(--tan-hide);
  --suggestion-panel-title: var(--carrot-orange);
  --suggestion-border: var(--porcelain);
  --suggestion-panel-slider: var(--gray-400);
  --suggestion-panel-slider-option: var(--white);
  --metadata-panel-header-color: var(--line-gray);
  --metadata-text-color: var(--prequisite-competency-color);
  --header-border: var(--porcelain);
  --metadata-code-color: var(--limed-spruce);
  --metadata-header-color: var(--gray-400);
  --metadata-name-color: var(--white);
  --proficiency-legends-grade-line: var(--light-green);
  --proficiency-legends-sky-line: var(--white);
  --proficiency-legends-in-progress: var(--picton-blue);
  --proficiency-legends-not-started: var(--light-grey);
  --proficiency-legends-show-gut: var(--dark-400);
  --proficiency-legends-mastered: var(--dark-blue-color);
  --legend-title-color: var(--dark-400);
  --proficiency-legends-box: var(--black-200);
  --domain-chart-border: var(--porcelain);
  --domain-competency-title: var(--limed-spruce);
  --competency-card-color: var(--border-gray);
  --domain-name-color: var(--sky-blue);
  --domain-border-color: var(--line-gray);
  --domain-competency-background: var(--white);
  --domain-chart-not-started: var(--grey);
  --domain-chart-in-progress: var(--picton-blue);
  --domain-chart-mastered: var(--cornflower-blue);
  --competency-content-border-color: var(--line-gray);
  --competency-content-font-color: var(--outer-space);
  --signature-content-tab-font: var(--black-200);
  --signature-content-tab-active: var(--blue-300);
  --suggestion-border: var(--porcelain);
  --competency-report-container-color: var(--outer-space);
  --competency-name-color: var(--limed-spruce);
  --inspect-competency-header-border: var(--limed-spruce-light);
  --active-competency-map: var(--dark-blue-color);
  --domain-seq-color: var(--light-blue);
  --grade-line: var(--line-brown);
  --proficiency-expand-chart-color: var(--summer-sky);
  --expanded-view-popover-color: var(--white);
  --expanded-view-popover: var(--black-200);
  --proficiency-dropdown-color: var(--dark-400);
  --proficiency-competency-cell: var(--white);
  --class-proficiency-no-data: var(--white);
  --student-proficiency-card: var(--white);
  --proficiency-card-username: var(--black-200);
  --proficiency-card-bg: var(--white);
  --class-proficiency-bg: var(--gray-400);
  --proficiency-competency-status-1: var(--picton-blue);
  --proficiency-competency-status-0: var(--gray);
  --proficiency-competency-status-3: var(--dark-blue-color);
  --proficiency-tabs-selected-color: var(--picton-blue);
  --input-field: var(--tundora);
  --input-label: var(--grey);
  --login-with-username-color: var(--white);
  --forgot-pwd-text: var(--haveloc-blue);
  --google-signin-bg-color: var(--dodger-blue);
  --link-text: var(--tundora);
  --ion-label: var(--limed-spruce);
  --error-text: var(--red);
  --login-content-color: var(--white);
  --signin-btn-bg-color: var(--green);
  --signin-text: var(--haveloc-blue);
  --signin-btn-color: var(--white);
  --hr-line-color: var(--light-grey);
  --hr-line-dark-color: var(--line-gray);
  --sign-in-title-text: var(--outer-space);
  --continue-to-text: var(--mini-shaft);
  --domain-text: var(--green);
  --gooru-text-color: var(--green);
  --forgot-password-header-color: var(--outer-space);
  --forgot-password-submit-bg-color: var(--fruit-salad);
  --forgot-password-close-color: var(--dark-brown);
  --forgot-password-submit-color: var(--white);
  --forgot-submit-btn-color: var(--green);
  --img-border-color: var(--grey);
  --sign-up-title-color: var(--fiord);
  --done-btn-color: var(--haveloc-blue);
  --account-exist-text-color: var(--tundora);
  --submit-btn-color: var(--white);
  /*classroom */
  --no-class-text-color: var(--white);
  --class-content-bg: var(--light-white);
  --class-card-bg: var(--white);
  --header-bg: var(--albaster);
  --classname-text-color: var(--limed-spruce);
  --header-line-color: var(--dusty-grey);
  --ion-icon-default-color: var(--light-grey);
  --ion-content-bg: var(--light-black);
  --competency-bg: var(--picton-blue);
  --class-action-border: var(--dusty-grey-opacity);
  --class-has-no-course-bg: var(--atens-grey);
  --class-has-no-course-color: var(--limed-spruce-light);
  --menu-bg-color: var(--white);
  --nav-side-bar-bg-color: var(--gray-light);
  --nav-side-bar-color: var(--white);
  --splash-bg-color: var(--splash-orange);
  --nav-spinner-color: var(--white);
  --has-course-linear-first-half: var(--black-with-rgb);
  --has-course-linear-second-half: var(--black-200);
  --information-text-color: var(--white);
  /** class navbar **/
  --class-navbar-title-color: var(--fiord);
  --class-navbar-tab-icon-color: var(--dark-400);
  --class-navbar-active-tab-bgcolor: var(--picton-blue);
  --class-navbar-active-setting-icon-color: var(--picton-blue);
  --class-navbar-active-tab-icon-color: var(--white);
  --class-navbar-competency-count-color: var(--white);
  --class-navbar-hr-color: var(--white);
  --class-navbar-border-color: var(--very-light-grey);
  --class-navbar-info-icon: var(--white);
  /** journey tab **/
  --journey-tab-bgcolor: var(--dark-400);
  --journey-seg-button-label-color: var(--dark-400);
  --journey-seg-button-bgcolor: var(--white);
  --journey-seg-button-active-bgcolor: var(--blue-400);
  --journey-seg-button-active-label-color: var(--white);
  --journey-lesson-text-color: var(--white);
  --journey-coursemap-content-bgcolor: var(--very-light-grey);
  --journey-milestone-content-bgcolor: var(--dark-400);
  /** coursemap view **/
  --coursemap-accordion-bgcolor: var(--very-light-grey);
  --coursemap-title-color: var(--dark-400);
  --coursemap-profile-icon-color: var(--white);
  --coursemap-profile-count: var(--white);
  --coursemap-unit-performance-score: var(--white);
  --coursemap-suggestion-icon-color: var(--bright-orange);
  --coursemap-lesson-performance-score: var(--dark-400);
  --coursemap-unit-no-score: var(--iron);
  /** milestone view **/
  --milestone-main-panel-bgcolor: var(--blue-400);
  --milestone-title-text-color: var(--white);
  --milestone-lesson-text-color: var(--dark-400);
  --milestone-suggestion-icon-color: var(--bright-orange);
  --milestone-flag-icon-border-color: var(--white);
  --milestone-flag-icon-color: var(--white);
  --milestone-lesson-icon-color: var(--blue-400);
  --milestone-collection-icon-color: var(--blue-400);
  --milestone-assignment-icon-color: var(--blue-400);
  --collection-performance-score-bgcolor: var(--very-light-grey);
  --collection-performance-score-color: var(--dark-400);
  --collection-title-text-color: var(--dark-400);
  --milestone-accordion-bgcolor: var(--dark-400);
  --milestone-collection-panel-bgcolor: var(--white);
  /** milestone lesson plan view **/
  --lesson-plan-accordion-bgcolor: var(--very-light-grey);
  --lesson-plan-text-color: var(--dark-400);
  --lesson-plan-icon-color: var(--dark-400);
  /** milestone lesson plan lists view **/
  --lesson-plan-list-accordion-bgcolor: var(--dark-400);
  --lesson-plan-list-title-text: var(--smalt-blue);
  /** lesson-plan prior-knowledge view **/
  --prior-knowledge-bgcolor: var(--very-light-grey);
  /** lesson-plan guiding-question view **/
  --question-block-bgcolor: var(--white);
  --question-block-text: var(--dark-400);
  /** lesson-plan anticipated-struggles view **/
  --anticipated-row-bgcolor: var(--white);
  --anticipated-accordion-bgcolor: var(--very-light-grey);
  --anticipated-block-bgcolor: var(--white);
  --anticipated-text: var(--dark-400);
  /** milestone lesson plan sessions view **/
  --sessions-title-text: var(--dark-400);
  --session-row-bgcolor: var(--white);
  --session-blocks-bgcolor: var(--white);
  --session-collection-row-bgcolor: var(--white);
  --session-collection-title-text: var(--dark-400);
  --session-collection-icon-color: var(--dark-400);
  --session-resource-title-text: var(--dark-400);
  --session-block-title-text: var(--dark-400);
  --session-video-resource-icon-color: var(--dark-400);
  /** score **/
  --grade-range-90-100: #4b9740;
  --grade-range-80-89: #a8c99c;
  --grade-range-70-79: #faba36;
  --grade-range-60-69: #faba36;
  /** class progress report **/
  --period-select-color: var(--picton-blue);
  --name-color: var(--limed-spruce-dark);
  --header-title-color: var(--dark-400-opacity-3);
  --header-subtitle-color: var(--limed-spruce-dark);
  --class-progress-border-color: var(--light-white);
  --suggestion-text-color: var(--yellow);
  --competency-status-2-5-color: var(--dark-blue-color);
  --competency-status-1-color: var(--picton-blue);
  --class-progress-ion-content-bg: var(--dark-400);
  --class-progress-body-bg: var(--white);
  --calender-button-bg: var(--black-opacity-5);
  --calender-active-color: var(--lochmara);
  --calender-done-button-linear-first-half: var(--iris-blue);
  --calender-done-button-linear-second-half: var(--lochmara-dark);
  --alert-text-color: var(--white);
  --alert-bg-color: var(--black-opacity-9);
  /** atc view **/
  --atc-learning-struggles-panel-container: var(--white);
  --atc-calender-arrow: var(--east-bay);
  --atc-calender-text: var(--fiord);
  --atc-content-bgcolor: var(--solitude);
  --atc-learning-struggle-panel-title: var(--dark-400);
  --atc-suggestion-icon-color: var(--sun);
  --atc-learning-performance-text: var(--arsenic);
  --atc-learning-progress-bar-bgcolor: var(--very-light-grey);
  --atc-learning-progress-bar-color: var(--sun);
  --atc-learning-topic: var(--dark-400);
  --atc-title-row-border-color: var(--very-light-grey);
  --atc-learning-topics-showall-text: var(--cerulean);
  --atc-overall-score-text: var(--arsenic);
  --atc-progress-title-text: var(--gray);
  --atc-highlight-text: var(--blue-400);
  --atc-progress-data-text: var(--dark-400);
  --atc-no-performance-bgcolor: var(--atens-grey);
  /** items to grade (journey page) **/
  --items-to-grade-collection-title: var(--limed-spruce-light);
  --items-to-grade-question-title: var(--dark-400);
  --items-to-grade-row-border: var(--light-grey);
  --items-to-grade-performance-bgcolor: var(--very-light-grey);
  /** students list (journey page) **/
  --students-list-title: var(--limed-spruce-light);
  /** student milestone **/
  /** Milestone **/
  --milstone-text-color: var(--white);
  --milestone-lesson-text-color: var(--dark-400);
  --milestone-toggle-icon-color: var(--dark-300);
  --milestone-score-color: var(--white);
  --milestone-collection-score: var(--border-gray);
  --milstone-border-color: var(--border-gray);
  --milestone-no-score: var(--iron);
  --milestone-timespent-score-color: var(--tundora);
  --milestone-bg: var(--light-white);
  --milestone-lesson-panel-bg-color: var(--white);
  --header-side-border: var(--athens-gray);
  --inactive-bg: var(--dark-400);
  --inactive-icon: var(--white);
  --suggested-collection: var(--tan-hide);
  --route0-default: var(--carrot-orange);
  --ca-panel-background-color: var(--white);
  --ca-calendar-bg: var(--white);
  --ca-calendar-border: var(--border-gray);
  --ca-border: var(--porcelain);
  --ca-count-color: var(--white);
  --active-color: var(--dodger-blue);
  --date-label-color: var(--dark-300);
  --suggested-icon-color: var(--carrot-orange);
  --milestone-no-score-bg: var(--dodger-400-blue);
  --milestone-no-score-color: var(--white);
  /** class settings **/
  --class-activity-bg-color: var(--porcelain);
  --class-code-bar: var(--picton-blue);
  --class-setting-text: var(--dark-400);
  --class-delete-archive-color: var(--bittersweet);
  --delete-class-color: var(--red);
  --archive-class-color: var(--light-yellow);
  --cancel-btn-bg-color: var(--white);
  --cancel-btn-color: var(--black);
  /** class settings teacher list**/
  --teacher-list-row-border: var(--border-gray);
  --teacher-list-row-arrow: var(--dark-400);
  --teacher-list-text: var(--dark-400);
  --teacher-list-delete: var(--dark-400);
  --teacher-add-img-bgcolor: var(--very-light-grey);
  --teacher-add-img: var(--dark-400);
  --apply-settings-text: var(--white);
  --apply-settings-button: var(--picton-blue);
  /** class settings student list**/
  --student-list-text: var(--dark-400);
  --student-list-delete: var(--dark-400);
  --student-list-row-border: var(--border-gray);
  --student-add-img-bgcolor: var(--very-light-grey);
  --student-add-img: var(--dark-400);
  --class-setting-header-text-color: var(--white);
  --add-collaborator-text-color: var(--dark-400);
  --add-collaborator-border-color: var(--light-grey);
  --add-student-text-color: var(--dark-400);
  --add-student-border-color: var(--light-grey);
  --add-student-select-filter-type-background: var(--light-grey);
  --add-student-select-filter-type-color: var(--dark-400);
  --add-student-table-header-bg: var(--light-grey);
  --class-setting-selected-student-bg: var(--picton-blue);
  --class-setting-selected-student-color: var(--white);
  --class-setting-student-table-name-color: var(--dark-400);
  /** class settings add members **/
  --add-class-members-bgcolor: var(--white);
  --class-activity-tabs-selected-color: var(--picton-blue);
  --ca-calendar-bg: var(--white);
  --ca-border: var(--porcelain);
  --arrow-color: var(--east-bay);
  --date-label-color: var(--fiord);
  --ca-card-header-icon-bg: var(--dark-400);
  --ca-card-header-icon-color: var(--white);
  --ca-card-content-title-color: var(--white);
  --ca-no-activities-font-color: var(--dark-400);
  --ca-activity-card-taxonomy-bg-color: var(--dark-400);
  --ca-activity-card-taxonomy-text-color: var(--white);
  --ca-activity-card-row-count-border-color: var(--line-gray);
  --ca-activity-card-description-color: var(--dark-400);
  --ca-activity-card-footer-border-color: var(--seasheel);
  --ca-activity-card-meet-icon-color: var(--lochmara);
  --portfolio-calendar-done-font: var(--white);
  --portfolio-calendar-done-text: var(--dark-blue-color);
  --portfolio-calendar-done: #00abdf;
  --portfolio-calendar-text: var(--blue-400);
  --portfolio-calendar-line: var(--grey);
  /* class activity */
  --ca-student-list-select-all-border-color: var(--light-grey);
  --ca-selected-student-bg-color: var(--tan-hide);
  --ca-selected-student-text-color: var(--white);
  --ca-student-list-cancel-btn-bg-color: var(--light-grey);
  --ca-student-list-cancel-btn-text-color: var(--dark-400);
  --ca-add-data-bg-color: var(--fiord);
  --ca-add-data-text-color: var(--white);
  --ca-collection-bg-color: var(--tundora);
  --ca-collection-text-color: var(--white);
  --ca-mastery-selected-icon-color: var(--picton-blue);
  /* Profile */
  --delete-button-bgcolor: var(--picton-blue);
  --delete-msg: var(--grey-suit);
  --learner-identity-header-color: var(--fiord);
  --menu-bar-color: var(--dark-400);
  --user-info-bg: var(--title-color);
  --input-label: var(--grey);
  --input-field: var(--tundora);
  --user-details-bg: var(--white);
  --user-info-bg: var(--title-color);
  --user-info-label: var(--dark-300);
  --profile-line-gray: var(--line-gray);
  --profile-bg-color: var(--dark-400);
  --tab-selected-blue: var(--summer-sky);
  --profile-spinner: var(--white);
  /* Class Settings*/
  --delete-archive-text: var(--red);
  --student-list-search-border: var(--border-gray);
  --student-list-search-text: var(--dark-400);
  /* About me */
  --about-me-title: var(--dark-400);
  --about-me-input: var(--line-gray);
  --about-me-tick-icon-gray: var(--gray-200);
  --about-me-tick-icon-green: var(--green);
  --about-me-bg: var(--dark-400);
  --about-me-update-bg: var(--white);
  --about-me-text: var(--white);
  /** Preferences **/
  --preferences-bg-color: var(--dark-400);
  --preferences-category-bg-color: var(--haveloc-blue);
  --preferences-color: var(--white);
  --preferences-border-color: var(--athens-gray);
  /** Aggregated score panel **/
  --summary-report-bg-color: var(--white);
  --assessment-summary-report-text-color: var(--white);
  --assessment-summary-report-label-color: var(--outer-space);
  --collection-summary-report-text-color: var(--dark-400);
  --collection-summary-report-bgcolor: var(--fiord);
  --collection-timespent-text: var(--white);
  --not-started-bgcolor: var(--light-gray);
  --player-content-border-color: var(--submarine);
  /** Individual CA Student report **/
  --no-performance-bg: var(--portfolio-timespent-color);
  --attempt-list-bg: var(--white);
  --attempt-border-color: var(--active-grey);
  --attempt-list-active-bg: rgba(0,0,0,.04);
  --attempt-no-score-bg: var(--dodger-400-blue);
  /** Performance summary report **/
  --report-toggle-icon: var(--fern);
  --report-grade-not-content-bg: var(--grey);
  --collection-default: var(--dark-400);
  --attempt-list-bg: var(--white);
  --attempt-border-color: var(--active-grey);
  --attempt-list-active-bg: rgba(0,0,0,.04);
  --collection-report-skeleton-bg: var(--white);
  --assessment-summary-report-text-color: var(--white);
  --collection-summary-report-bg-color: var(--submarine);
  --read-font: var(--cornflower-blue);
  /** Player **/
  --player-header-bg: var(--cornflower-blue);
  --correct-answer: var(--pastel-green);
  --wrong-answer: var(--red);
  --player-content-bg: var(--dark-400);
  --player-resource-icon-color: var(--submarine);
  --player-content-title-color: var(--white);
  --player-content-title-text-color: var(--dark-400);
  --player-content-description-color: var(--white);
  --player-content-border-color: var(--submarine);
  --player-play-button-color: var(--cornflower-blue);
  --player-answer-border-color: var(--light-grayish);
  --player-answer-color: var(--white);
  --hot-spot-answer-selected-color: var(--dark-blue);
  --player-read-btn: var(--white);
  --player-confirm-txt-color: var(--white);
  --player-description-read-container: var(--white);
  --resource-submit-btn-color: var(--curious-blue);
  --resource-linear-color: var(--dodger-reblue);
  --player-question-answered-bg: var(--white);
  --player-question-answered-font: var(--dark-400);
  --collection-body-border-color: var(--grey);
  --attempt-border-color: var(--active-grey);
  --oa-task-default-color: var(--white);
  --categories-facet-header: var(--fiord);
  --pull-up-bg: var(--dark-400);
  --timespent-icon-color: var(--white);
  --youtube-video-load-text: var(--white);
  /** youTube Player **/
  --youtube-video-bg: var(--black);
  --fullscreen-close-txt: var(--white);
  --fullscreen-close-bg: var(--black);
  /** Add data */
  --add-data-header-text-color: var(--dark-400);
  --add-data-accordion-header-hover-color: var(--white);
  --add-data-accordion-header-text-color: var(--smalt-blue);
  --add-data-performance-color: var(--timepsent-grey);
  --add-data-performance-no-timespent: var(--white);
  --add-data-submit-bg-color: var(--white);
  --add-data-skeleton-bg-color: var(--white);
  /** Timepicker */
  --timepicker-colon-color: var(--gray);
  --timepicker-icon-color: var(--alto);
  --timepicker-text-color: var(--gray);
  /** email verification */
  --email-verify-btn-bg-color: var(--green);
  --email-verify-header-color: var(--outer-space);
  --external-resource-preview-button: var(--cornflower-blue);
  /** data by milestone report */
  --data-by-milestone-report-bgcolor: var(--white);
  --data-by-milestone-text: var(--dark-400);
  --flag-icon-color: var(--la-palma);
  --search-row-border: var(--whisper);
  /** create classroom */
  --create-classroom-text: var(--dark-400);
  --create-class-content-color: var(--white);
  --create-class-button: var(--blue-400);
  --create-class-border: var(--grey);
  --class-details-header-view: var(--blue-400);
  --class-details-view: var(--picton-blue);
  --class-details-content: var(--white);
  --selected-grade-content: var(--green);
  /** SERP variables **/
  --progres-bar-bg: var(--sky-blue-400);
  --say-out-loud-wave: var(--purple);
  --say-out-loud-wave-2: var(--blue-400);
  --say-out-loud-answer-text: var(--white);
  --say-out-loud-active-answer: var(--light-grey);
  --say-out-loud-play-icon: var(--curious-blue);
  --say-out-loud-mic: var(--red-400);
  --serp-answer-text: var(--white);
  --sorting-container-color: var(--white-200);
  --say-out-audio-text: var(--light-grey);
  --say-out-play-icons: var(--dark-400);
  --say-out-animation-bar: var(--cornflower-blue);
  --say-out-uploading-row: var(--white);
  --audio-payer-progress-filling: var(--dark-gray-300);
  --audio-payer-progress-pointer: var(--dark-blue);
  --serp-pick-and-choose-text: var(--white);
  /** font family **/
  --sans: "Open Sans";
  --lato: "Lato";
  --helvetica: "Helvetica";
  --montserrat: "Montserrat";
  /** sign up */
  --account-exists-popup-bg: var(--white);
  --signin-btn-bg-color: var(--green);
  --account-exists-btn: var(--white);
  --apple-signin-bg-color: var(--black);
  --apple-signin-color: var(--white);
  /** incomplete classroom*/
  --incomplete-confirm-btn-bg: var(--grade-range-90-100);
  --delete-incomplete-class: var(--dark-400);
  --incomplete-class-bg: var(--white);
  --incomplete-class-border: var(--atens-grey);
  --incomplete-class-font: var(--montserrat);
  --incomplete-class-color: var(--white);
  --incomplete-class-delete-color: var(--bittersweet);
  --incomplete-class-title-color: var(--limed-spruce);
  /* common */
  --toolbar-height: 48px;
  --toolbar-bg-color: var(--white);
  --icon-default-color: var(--dark-400);
  /** add course **/
  --course-count: var(--light-white-gray);
  --course-card-bg: var(--dark-400);
  /* offline */
  --offline-name-text: var(--grade-level-rubric-font);
  --offline-bg-color: var(--white-200);
  --offline-row-border-color: var(--light-grey);
}
