<ion-row class="multiple-answer-question content-{{componentSequence}}"
  [ngClass]="{'disabled': isDisabled, 'question-answered': isQuestionAnswered, 'bidirectional-restrict': !isBidirectionalPlay, 'already-played': alreadyPlayed}"
  (click)="onClickQuestionWithFeedBack()">
  <ion-row class="hz-line"></ion-row>
  <ng-container *ngIf="isDownloadPdf">
    <hr />
  </ng-container>
  <!-- start header section -->
  <ion-row class="resource-content-container" [ngClass]="{'active-content': isActive,'blur-question': !reportViewMode}">
    <ion-row *ngIf="!isDownloadPdf" class="header-section">
      <ion-row class="type">{{componentSequence}}. {{'MULTIPLE_ANSWER_TEXT'| translate}}</ion-row>
      <ion-row class="toggle-icon" (click)="toggleAnswers()">
        <ng-template #downArrow>
          <ion-text class="material-icons arrow-dropdown"> arrow_drop_down </ion-text>
        </ng-template>
        <ion-text *ngIf="!showAnswer; else downArrow" class="material-icons arrow-dropup"> arrow_drop_up </ion-text>
      </ion-row>
    </ion-row>
    <!-- end header section -->
    <!-- start question section -->
    <ion-row class="question-container">
      <ion-row class="title-container" (click)="toggleAnswers()">
        <ng-container *ngIf="isDownloadPdf">
          {{ componentSequence }}.
        </ng-container>
        <mathjax class="title" *ngIf="content.title" [content]="content.title"></mathjax>
        <ng-template [ngTemplateOutlet]="questionContainer" *ngIf="reportViewMode"></ng-template>
        <ion-row>
          <nav-taxonomy-list *ngIf="content.taxonomy" [taxonomy]="content.taxonomy"></nav-taxonomy-list>
        </ion-row>
      </ion-row>
      <ng-container *ngIf="!isPreview">
        <ion-row class="info-icon" (click)="toggleInfo()" *ngIf="!reportViewMode; else performanceContent">
          <i class="material-icons info" *ngIf="(content.taxonomy | keyvalue)?.length">info_outlined</i>
        </ion-row>
        <ng-template #performanceContent>
          <ion-row class="performance-content grade-range-{{averageScore | gradeRange}}">
            <ion-text *ngIf="performance && !performance.isSkipped; else noPerformance">
              <ion-text>{{ performance.score }}</ion-text>
              <ion-text *ngIf="content.maxScore">/{{content.maxScore}}</ion-text>
            </ion-text>
            <ng-template #noPerformance>
              <ion-text>&ndash;&ndash;&ndash;</ion-text>
            </ng-template>
          </ion-row>
        </ng-template>
      </ng-container>
    </ion-row>
    <!-- end question section -->
    <ion-row class="info" [ngClass]="{'active' : !showAdditionalInfo}" [@collapse]="showAdditionalInfo">
      <nav-taxonomy-list *ngIf="content.taxonomy" [taxonomy]="content.taxonomy"></nav-taxonomy-list>
    </ion-row>
    <!-- start performance report section -->
    <ng-container *ngIf="!isPreview">
      <ion-row class="timespent-container" *ngIf="reportViewMode && performance">
        <i class="material-icons clock-icon">access_time</i>
        <ion-text class="timespent-text">{{performance.timespent | transformTimeSpent}}</ion-text>
      </ion-row>
    </ng-container>
  </ion-row>
  <!-- end performance report section -->
  <!-- start answer section -->
  <ion-row class="answer-container" [@collapse]="showAnswer" [ngClass]="{'read-only': reportViewMode}">
    <ion-row class="answer-content" [ngClass]="{'active-content': isActive,'blur-question': !reportViewMode}">
      <ng-template [ngTemplateOutlet]="questionContainer" *ngIf="!reportViewMode"></ng-template>
      <ion-row [ngStyle]="isDownloadPdf && pdfPreviewStyles.pdfThumbnailRowStyle" *ngIf="content.thumbnail"
        class="thumbnail">
        <img [ngStyle]="isDownloadPdf && pdfPreviewStyles.pdfThumbnailImageStyle" [src]="content.thumbnail" inAppBrowser
          [url]="content.thumbnail" />
      </ion-row>
      <table class="table" (click)="onClickAnswer()">
        <thead>
          <tr>
            <th>{{'YES' | translate}}</th>
            <th>{{'No' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody [ngClass]="[(showCorrectAnswer ? 'show-correct-answer-active': 'show-correct-answer-inactive')]">
          <tr *ngFor="let answer of answers;let i = index;"
            [ngClass]="{'performance-active': reportViewMode && performance, 'correct': answer.status === 'correct' &&  (!isPreview || (isPreview && showCorrectAnswer)), 'incorrect': answer.status === 'incorrect' && (!isPreview || (isPreview && showCorrectAnswer))}">
            <td>
              <input type="radio" [(ngModel)]="answer.userAnswerText" class="choice choice-yes"
                [ngClass]="(!isPreview || (isPreview && showCorrectAnswer)) && answer.is_correct && answer.status"
                (click)="selectAnswer(answer, 1, $event)" name="{{content.sequenceId}}_answer_{{i}}" value="yes" />
            </td>
            <td>
              <input type="radio" [(ngModel)]="answer.userAnswerText" class="choice choice-no"
                [ngClass]="(!isPreview || (isPreview && showCorrectAnswer)) && !answer.is_correct ?  (answer.status || 'correct') : ''"
                (click)="selectAnswer(answer, 0, $event)" name="{{content.sequenceId}}_answer_{{i}}" value="no" />
            </td>
            <td>
              <ion-text class="answer-text">
                <mathjax *ngIf="answer.answer_text" [content]="answer.answer_text"></mathjax>
              </ion-text>
            </td>
          </tr>
        </tbody>
      </table>
      <ion-row class="confirm" [@collapse]="hideConfirmButton">
        <ion-button [disabled]="!enableConfirm || disableConfirmBtn" (click)="onConfirm()" *ngIf="!reportViewMode">
          {{'CONFIRM'| translate}}</ion-button>
      </ion-row>
    </ion-row>
  </ion-row>
  <!-- end answer section -->
  <ng-template #questionContainer>
    <mathjax class="description" *ngIf="content.description" [content]="content.description"></mathjax>
  </ng-template>
  <ion-row class="player-overlay" *ngIf="!isActive && !reportViewMode" (click)="onClickQuestion()"></ion-row>
</ion-row>