<ion-row class="evidence-container" *ngIf="evidenceFiles && evidenceFiles.length">
  <ion-text class="evidence-title">{{ "EVIDENCE" | translate }}</ion-text>
  <ion-row class="evidence-row" (click)="openEvidenceImage(file.url)" *ngFor="let file of evidenceFiles;let fileIndex=index">
    <ion-col class="evidence-content-img">
      <ion-row class="evidence-preview-icon">
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row class="evidence-content">
        <ion-text class="evidence-title-name">{{ "EVIDENCE" | translate }}</ion-text>
        <ion-text class="evidence-file-name">{{file.originalFileName ? file.originalFileName : file.url}}</ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-row>
