.mat-accordion {
  .student-list-container {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 10px;
    border-top: 1px solid var(--student-list-row-border);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    .student-header-row {
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--student-list-text);
      font-weight: 600;
      padding: 8px 15px;
      display: grid;
      min-height: 42px;

      .arrow-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: var(--student-list-text);
        opacity: 0.75;

        .arrow-up {
          display: none;
        }

        .arrow-down {
          display: block;
        }
      }

      &.mat-expanded {
        padding: 0 15px;
        border-bottom: 1px solid var(--student-list-row-border);

        .arrow-col {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: var(--student-list-text);
          opacity: 0.75;

          .arrow-up {
            display: block;
          }

          .arrow-down {
            display: none;
          }
        }
      }

      .student-header {
        opacity: 0.75;
        display: flex;
        align-items: center;
      }

      .active-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .student-list {
      .input-field {
        width: 100%;
        border: 2px solid var(--student-list-row-border);
        margin: 5px 10px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 5px 0;

        .search-users-row {
          padding: 0 10px;

          .enter-student-name {
            display: flex;
            width: 100%;

            .search-dropdown {
              display: flex;
              align-items: center;

              ion-select {
                font-size: 13px;
                padding: 0;
                opacity: 0.5;
                font-weight: 600;
                width: 100%;
                padding-right: 10px;
              }
            }

            .input-row {
              border-bottom: 1px solid var(--student-list-row-border);

              ::ng-deep .native-input {
                padding: 5px 0;
                font-size: 12px;
                opacity: 0.75;
              }
            }

            .search-icon {
              justify-content: flex-end;
              font-size: 18px;
              display: flex;
              align-items: center;
            }
          }

          .add-buttons {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-end;
            margin-top: 3px;

            ion-button {
              font-size: 10px;
              height: 30px;
            }
          }
        }
      }

      .student-details-row {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid var(--student-list-row-border);
        padding: 5px 15px;
        display: grid;
        grid-template-columns: 42px auto 42px 20px;
        align-items: center;

        &.student-disable {
          .avatar-icon,
          .student-detail-col,
          .student-profile {
            pointer-events: none;
            opacity: 0.5;
          }
        }

        .student-profile {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;

          ion-thumbnail {
            height: 32px;
            width: 32px;

            ion-img {
              border-radius: 50%;
            }
          }
        }

        .avatar-icon {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          ::ng-deep .avatar-container {
            height: 32px !important;
            width: 32px !important;

            .avatar-content {
              width: 32px;
              height: 32px;
              align-items: center;
              justify-content: center;
              display: flex;
            }
          }
        }

        .student-detail-col {
          display: grid;
          align-items: center;
          min-height: 42px;

          .student-name {
            color: var(--student-list-text);
            display: flex;
            align-items: center;
            text-transform: capitalize;
            padding-right: 5px;

            .name {
              font-size: 12px;
              margin-right: 5px;
            }

            .student-id {
              font-style: italic;
              font-size: 10px;
              padding-right: 5px;
            }
          }

          .student-info-row {
            font-style: italic;
            font-size: 10px;
            color: var(--student-list-text);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-transform: none;
          }

          .destination-selector {
            font-size: 12px;
            color: var(--student-list-text);
          }
        }

        .active-student {
          font-size: 12px;
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: center;

          ion-toggle {
            padding: 5px 0;
            --handle-width: 14px;
            --handle-height: 14px;
            height: 12px;
            width: 32px;
          }
        }

        .delete-student {
          display: flex;
          justify-content: flex-end;
          color: var(--student-list-delete);
          align-items: center;
          font-size: 18px;
          height: 100%;
        }
      }
    }

    .student-list-row {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 42px auto;
      align-items: center;
      padding: 5px 15px;
      border-bottom: 1px solid var(--student-list-search-border);

      .student-list-img {
        background: var(--student-add-img-bgcolor);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        ion-icon {
          font-size: 22px;
          color: var(--student-add-img);
          opacity: 0.75;
        }
      }

      .student-list-name {
        font-size: 12px;
        color: var(--student-list-text);
        padding-left: 5px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        opacity: 0.5;
        height: 100%;
      }
    }

    .search-student-row {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--student-list-search-border);
      border-top: 1px solid var(--student-list-search-border);

      .input-row {
        font-size: 12px;
        color: var(--student-list-search-text);
        border-right: 1px solid var(--student-list-search-border);
      }

      .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--student-list-search-text);

        ion-icon {
          height: 22px;
          min-width: 48px;
        }
      }
    }
  }
}
