.collection-report-container {
  height: 100%;

  .header-section {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    
    .collection-content {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .collection-title {
      font-size: 15px;
      letter-spacing: normal;
      color: var(--collection-default);
      clear: both;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .download-item-row {
      .pdf-download-button {
        --background: var(--white);
        --color: var(--limed-spruce);
        width: 40px;
        height: 40px;
        --box-shadow: none;
        margin-right: 30px;
      }
    }
    
    .collection-icon {
      ion-icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  .report-container {
    height: calc(100% - 56px);
    --background: var(--collection-default);

    .attempts-list-container {
      .attempt-date-container {
        height: 48px;
        display: grid;
        grid-template-columns: 130px auto;

        ion-label {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--white);
        }

        ion-text {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          color: var(--white);
          padding-right: 15px;
        }
      }

      .attempts-list {
        width: 100%;
        padding: 0;
        overflow: auto;
        max-height: 432px;
        margin-bottom: 0;
      }

      .attempt-list-wrapper {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 10;
        overflow: scroll;
        background: var(--attempt-list-bg);
      }

      ion-row {
        &:first-child {
          .individual-attempt {
            border-top: 1px solid var(--attempt-border-color);
          }
        }

        .individual-attempt {
          display: grid;
          grid-template-columns: auto 48px;
          align-items: center;
          height: 48px;
          padding: 0;
          border-bottom: 1px solid var(--attempt-border-color);

          &.active-attempt {
            background: var(--attempt-list-active-bg);
          }

          .attempt-date {
            font-size: 12px;
            color: var(--dark-400);
            padding: 0 15px;
          }

          .time-spent {
            height: 100%;
            margin: auto;
            display: flex;
            background-color: var(--time-spent-color);
            font-size: 10px;
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
          }
        }
      }
    }

    ::ng-deep .taxonomy-list {
      padding: 5px 0;
    }

    .external-collection-url {
      padding: 20px;
      display: grid;
      align-items: center;
      color: white;
      justify-content: center;

      .resource-url {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .preview-button {
        display: flex;
        align-items: center;
        justify-content: center;

        ion-button {
          background-color: var(--external-resource-preview-button);
        }
      }
    }
  }
}

.skeleton-report {
  padding: 10px;

  .skeleton-summary-report {
    .skeleton-performance-activity {
      display: grid;
      position: relative;
      background: var(--collection-report-skeleton-bg);

      ion-skeleton-text {
        height: 240px;
        margin: 0;
      }
    }

    .skeleton-answers {
      display: flex;

      .small-skeleton-text {
        width: 40%;
        height: 20%;
      }

      .big-skeleton-text {
        width: 70%;
        height: 20%;
      }

      .skeleton-correct-answer,
      .skeleton-in-correct-answer,
      .skeleton-timespent-container {
        display: flex;
        height: 104px;
        background-color: var(--summary-report-bg-color);
        width: calc(100% / 3);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
      }
    }
  }

  .skeleton-question-container {
    padding: 16px 8px 0;

    .skeleton-setting-container {
      .toggle-container {
        ion-skeleton-text {
          height: 30px;
          margin-bottom: 15px;
        }
      }
    }

    .skeleton-question {
      .skeleton-header-section {
        ion-skeleton-text {
          height: 25px;
        }
      }
    }

    .skeleton-questions-container {
      display: grid;
      grid-template-columns: auto 56px;

      .skeleton-title-container {
        .skeleton-description,
        .skeleton-title {
          ion-skeleton-text {
            width: 80%;
            height: 25px;
          }
        }
      }

      .skeleton-performance-container {
        ion-skeleton-text {
          height: 56px;
        }
      }
    }
  }
}
