<div class="offline-activity-grading">
  <div class="grading-container">
    <div class="header-bar" (click)="toggleStudentRubric()" *ngIf="studentRubric">
      <div class="panel-icon" [ngClass]="{'performance-grade': isReportViewMode && studentRubric.studentScore !== null}">
        <ion-icon class="nav-grade"></ion-icon>
      </div>
      <div class="panel-title">
        {{'STUDENT_RUBRIC' | translate}}
      </div>
      <div class="toggle-icon" *ngIf="!isReportViewMode || isPreview; else showStudentPerformance">
        <ng-template #downArrow>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </ng-template>
        <ion-icon *ngIf="!showStudentRubric;else downArrow" name="arrow-dropup"></ion-icon>
      </div>
      <ng-template #showStudentPerformance>
        <div class="score grade-range-{{ studentRubric.studentScore | gradeRange}}">
          <span>{{ studentRubric.studentScore | transformPerformanceScore }}</span>
        </div>
      </ng-template>
    </div>
    <ion-card-content [@collapse]="showStudentRubric">
      <nav-rubric-report *ngIf="studentRubric; else commentOnly"  [isReadonly]="true" [isReport]="isReportViewMode" [rubric]="studentRubric" [maxScore]="studentScore">
      </nav-rubric-report>
      <ng-template #commentOnly>
        <div class="general-comments">
          <ion-textarea [disabled]="isTeacherGraded" [(ngModel)]="overallComments" placeholder="{{'RUBRIC_GRADING_COMMENT' | translate}}"></ion-textarea>
        </div>
      </ng-template>
    </ion-card-content>
    <div class="header-bar" (click)="toggleTeacherRubric()" *ngIf="teacherRubric">
      <div class="panel-icon" [ngClass]="{'performance-grade': isReportViewMode && teacherRubric.studentScore !== null}">
        <ion-icon class="nav-grade"></ion-icon>
      </div>
      <div class="panel-title">
        {{'TEACHER_RUBRIC' | translate}}
      </div>
      <div class="toggle-icon" *ngIf="!isReportViewMode || isPreview; else showTeacherPerformance">
        <ng-template #downArrow>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </ng-template>
        <ion-icon *ngIf="!showTeacherRubric;else downArrow" name="arrow-dropup"></ion-icon>
      </div>
      <ng-template #showTeacherPerformance>
        <div class="score grade-range-{{ teacherRubric.studentScore | gradeRange}}">
          <span>{{ teacherRubric.studentScore | transformPerformanceScore }}</span>
        </div>
      </ng-template>
    </div>
    <ion-card-content [@collapse]="showTeacherRubric">
      <nav-rubric-report *ngIf="teacherRubric; else noTeacherRubric" [isReadonly]="true" [rubric]="teacherRubric" [isReport]="isReportViewMode"></nav-rubric-report>
      <ng-template #noTeacherRubric>
        <div class="no-rubric">
          {{'NO_RUBRIC' | translate}}
        </div>
      </ng-template>
    </ion-card-content>
  </div>
  <ion-footer *ngIf="studentRubric && !isTeacherGraded">
    <div class="actions">
      <ion-button class="confirm" (click)="submitGrade()">{{ 'CONFIRM' | translate }}</ion-button>
    </div>
  </ion-footer>
</div>
