<ion-row class="comprehension-question content-{{ componentSequence }}"
  [ngClass]="{'disabled': isDisabled, 'question-answered': isQuestionAnswered, 'bidirectional-restrict': !isBidirectionalPlay, 'already-played': alreadyPlayed}"
  (click)="onClickQuestionWithFeedBack()">
  <ion-row class="hz-line"></ion-row>
  <ng-container *ngIf="isDownloadPdf">
    <hr />
  </ng-container>
  <!-- start header section -->
  <ion-row class="resource-content-container" [ngClass]="{'active-content': isActive,'blur-question': !reportViewMode}">
    <ng-container *ngIf="!isDownloadPdf">
      <ion-row class="header-section">
        <ion-row class="type">
          {{ componentSequence }}. {{ 'COMPREHENSION' | translate }}
        </ion-row>
        <ion-row class="toggle-icon" (click)="toggleAnswers()">
          <ng-template #downArrow>
            <ion-icon name="md-arrow-dropdown"></ion-icon>
          </ng-template>
          <ion-icon *ngIf="!showAnswer; else downArrow" name="md-arrow-dropup"></ion-icon>
        </ion-row>
      </ion-row>
    </ng-container>
    <!-- end header section -->
    <!-- start question section -->
    <ion-row class="question-container">
      <ng-container *ngIf="isDownloadPdf">
        {{ componentSequence }}.
      </ng-container>
      <ion-row class="title-container" (click)="toggleAnswers()">
        <mathjax class="title" *ngIf="content.title" [content]="content.title"></mathjax>
        <ng-template [ngTemplateOutlet]="questionContainer" *ngIf="reportViewMode"></ng-template>
        <ion-row>
          <nav-taxonomy-list *ngIf="content.taxonomy" [taxonomy]="content.taxonomy"></nav-taxonomy-list>
        </ion-row>
      </ion-row>
      <ng-container *ngIf="!isPreview">
        <ion-row class="info-icon" (click)="toggleInfo()" *ngIf="!reportViewMode; else performanceContent">
          <i class="material-icons info" *ngIf="(content.taxonomy | keyvalue)?.length">info_outlined</i>
        </ion-row>
        <ng-template #performanceContent>
          <ion-row class="performance-content grade-range-{{averageScore | gradeRange}}">
            <ion-text *ngIf="performance && !performance.isSkipped;else noPerformance">
              <ion-text>{{ performance.score}}<ion-text *ngIf="content.maxScore">/{{ content.maxScore }}</ion-text>
              </ion-text>
            </ion-text>
            <ng-template #noPerformance>
              <ion-text>&ndash;&ndash;&ndash;</ion-text>
            </ng-template>
          </ion-row>
        </ng-template>
      </ng-container>
    </ion-row>
    <!-- end question section -->
    <ion-row class="info" [ngClass]="{ active: !showAdditionalInfo }" [@collapse]="showAdditionalInfo">
      <nav-taxonomy-list *ngIf="content.taxonomy" [taxonomy]="content.taxonomy"></nav-taxonomy-list>
    </ion-row>
    <!-- start performance report section -->
    <ng-container *ngIf="!isPreview">
      <ion-row class="timespent-container" *ngIf="reportViewMode && performance">
        <i class="material-icons clock-icon">access_time</i>
        <ion-text class="timespent-text">{{
          performance.timespent | transformTimeSpent
          }}</ion-text>
        <ion-row class="reaction-icon" *ngIf="performance.reaction">
          <i class="nav-reaction-{{ performance.reaction }}"></i>
        </ion-row>
        <ion-row *ngIf="performance" class="show-answer-col">
          <ion-icon class="{{performance.percentScore | showAnswerStatus}}"></ion-icon>
        </ion-row>
      </ion-row>
    </ng-container>
  </ion-row>
  <!-- end performance report section -->
  <!-- start answer section -->
  <ion-row class="answer-container" [@collapse]="showAnswer">
    <ion-row class="answer-content" [ngClass]="{'active-content': isActive,'blur-question': !reportViewMode}">
      <ng-template [ngTemplateOutlet]="questionContainer" *ngIf="!reportViewMode"></ng-template>
      <ion-row [ngStyle]="isDownloadPdf && pdfPreviewStyles.pdfDecodingThumnailStyles" *ngIf="content.thumbnail"
        class="thumbnail">
        <img [ngStyle]="isDownloadPdf && pdfPreviewStyles.pdfDecodingThumbnailImageStyles" [src]="content.thumbnail"
          inAppBrowser [url]="content.thumbnail" />
      </ion-row>
      <ng-container #comprehension_view></ng-container>
      <ion-row class="confirm" [@fadeAnimation]="hideConfirmButton" *ngIf="!hideConfirmButton">
        <ion-button [disabled]="disableConfirmBtn" (click)="onConfirm()" *ngIf="!reportViewMode">{{ 'CONFIRM' |
          translate }}</ion-button>
      </ion-row>
    </ion-row>
  </ion-row>
  <!-- end answer section -->
  <ng-template #questionContainer>
    <mathjax class="description" *ngIf="content.description" [content]="content.description"></mathjax>
  </ng-template>
  <ion-row class="player-overlay" *ngIf="!isActive && !reportViewMode" (click)="onClickQuestion()"></ion-row>
</ion-row>